---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import projects from "../data/project";
import jafarkhanL from "../assets/images/1116-transformed 3.avif";
import Spinner from "../components/Spinner.vue";
import "swiper/css";

const works1 = projects.slice(0, 2);
const works2 = projects.slice(2, 4);
---

<Layout>
    <div class="intro">
        <h1 class="intro__text">
            <span>Jafar</span>
            <span>Khan</span>
        </h1>
    </div>
    <main>
        <div class="page-wrapper">
            <section class="hero">
                <div class="hero__container container">
                    <div class="hero__image">
                        <img
                            src={jafarkhanL.src}
                            alt="Jafar Khan"
                            width="620"
                            height="559"
                            loading="lazy"
                        />
                    </div>
                    <div class="hero__data">
                        <h1 class="hero__title">Jafar Khan</h1>
                        <p class="hero__subtitle subtitle">
                            I am a freelance front-end developer from Dhaka,
                            Bangladesh
                        </p>
                    </div>
                </div>
            </section>
            <section class="partners">
                <div class="container">
                    <div class="partners__content">
                        <div class="swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide">
                                    <svg
                                        id="logo-1"
                                        data-name="Layer 1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 150 40.73"
                                        ><defs
                                            ><style>
                                                .cls-1 {
                                                    fill: none;
                                                }
                                                .cls-2 {
                                                    clip-path: url(#clip-path);
                                                }
                                            </style><clipPath id="clip-path"
                                                ><rect
                                                    class="cls-1"
                                                    width="150"
                                                    height="40.73"
                                                ></rect></clipPath
                                            ></defs
                                        ><g class="cls-2"
                                            ><path
                                                class="cls-3"
                                                d="M54.31,20.84a32,32,0,0,1-2.78,2.95,6,6,0,0,1-6.71.86c-2.23-1-3-3.06-3-5.32-.08-3.38,0-6.76,0-10.14,0-2.09,0-2.13-2.14-2.28V5.61l5.94-.51c1-.09,1.3.51,1.3,1.44q0,5.93,0,11.85a14.12,14.12,0,0,0,.25,2.67,2.12,2.12,0,0,0,3.38,1.6c2-1.27,3.47-3,3.47-5.61V9.23c0-2.13,0-2.13-2.15-2.34l-.08-1.26c2.11-.18,4.16-.38,6.21-.53,1-.07,1.15.66,1.15,1.47v12.7c0,2.06.24,2.3,2.35,2.5.11.59.27,1.09-.6,1.37-1.65.54-3.27,1.19-4.91,1.78-1.44.52-2.13,0-1.93-1.55,0-.4.13-.8.17-1.21S54.26,21.35,54.31,20.84Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M120.4,21.56v1.21c-2,.77-3.89,1.55-5.83,2.24-1.19.42-1.67,0-1.67-1.24v-2a20.82,20.82,0,0,1-3,2.68,6.11,6.11,0,0,1-5.07.41,4.93,4.93,0,0,1-2.37-8.08,10.28,10.28,0,0,1,5-2.93c1.47-.48,3-.86,4.46-1.2.73-.17,1-.48.95-1.25-.09-.93-.1-1.86-.17-2.8s-.09-2-1.28-2.36A3,3,0,0,0,108,7.53c-.43.82-.55,1.81-1,2.61A4.56,4.56,0,0,1,105.33,12a1.76,1.76,0,0,1-2.39-.55,3.62,3.62,0,0,1-.21-2.51c.65-1.95,2.42-2.77,4.21-3.37a14,14,0,0,1,7.1-.42c2.69.52,3.9,2.08,3.94,5.17.06,2.86,0,5.71,0,8.56C118,21.16,118.13,21.3,120.4,21.56Zm-7.51-8.11c-1.46.63-2.65,1-3.71,1.63a5.09,5.09,0,0,0-2.62,5.46,2.5,2.5,0,0,0,1.59,2.28,2.41,2.41,0,0,0,1.5.1,2.47,2.47,0,0,0,1.29-.78,9.41,9.41,0,0,0,1.21-1.66C113.36,18.39,112.76,16.12,112.89,13.45Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M7.68,2.18a32.62,32.62,0,0,0-3.3,0c-1.26.13-1.81,1.17-2.24,2.19A1.49,1.49,0,0,1,0,5.39C.39,3.85.73,2.25,1.24.7,1.32.46,2.16.37,2.65.37,7.23.43,11.81.55,16.4.59c1.36,0,2.73-.17,4.33-.28-.45,1.72-.79,3.28-1.32,4.78-.11.32-.9.39-1.32.55-.18-.25-.25-.32-.25-.38,0-2.89-1.4-3.91-4.3-3.07a1,1,0,0,0-.35.34A1.14,1.14,0,0,0,13,3q0,9.29,0,18.58A1.34,1.34,0,0,0,14.19,23l1.63.34v1.19h-11v-1.1c2.84-.93,2.84-.93,2.84-4Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M67.91,15.55c.35,1.76.53,3.3,1,4.76a4.35,4.35,0,0,0,4,3.3,4.49,4.49,0,0,0,4.6-2.34,1.29,1.29,0,0,1,1.92-.63,7.42,7.42,0,0,1-.51,1.28A6.35,6.35,0,0,1,73.6,25c-6.18.36-10.44-3.35-10.69-9.38-.17-4,1-7.32,4.55-9.44C71.63,3.72,79.17,4.83,80.14,12c.36,2.54-.5,3.58-3,3.58Zm7.34-1.71A11.93,11.93,0,0,0,74.43,8a2.77,2.77,0,0,0-4.73-.55c-1.46,1.84-1.59,4-1.57,6.35Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M135.34,5.21c.11,1.84.21,3.45.32,5.11a1.39,1.39,0,0,1-2-.8,5.24,5.24,0,0,0-3.76-3.17,2.89,2.89,0,0,0-1.79.15,2.93,2.93,0,0,0-1.35,1.18,2.61,2.61,0,0,0-.22,1.78,2.64,2.64,0,0,0,.95,1.51,16.86,16.86,0,0,0,2.38,1.43c1.52.84,3.14,1.54,4.56,2.52a5.24,5.24,0,0,1,2.27,5.86A6.1,6.1,0,0,1,131.43,25a23.82,23.82,0,0,1-4.61-.75c-.91-.18-1.83-1.09-2.66.23-.12.2-.74.08-1.18.11-.09-.53-.2-1-.24-1.4-.11-1.25-.19-2.5-.28-3.77a1.45,1.45,0,0,1,2,.89,6.23,6.23,0,0,0,5.09,3.49,2.5,2.5,0,0,0,2.68-1.3,2.43,2.43,0,0,0-.23-3,10.3,10.3,0,0,0-2.4-1.81c-1.68-1-3.54-1.84-5.11-3a5.06,5.06,0,0,1-1.92-6,5.33,5.33,0,0,1,5.08-3.71,15.26,15.26,0,0,1,4.14.65c.76.18,1.41.55,2.1-.22C134.12,5.26,134.7,5.33,135.34,5.21Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M31.69,24.57H22c-.27-.77-.21-1.29.71-1.43,1.15-.18,1.57-.87,1.55-2.06-.07-3.34,0-6.68,0-10C24.25,9,24,8.78,22,8.62c-.3-.8-.14-1.24.78-1.56,1.56-.55,3.07-1.26,4.56-2s2.15-.3,2,1.37c-.09,1-.27,2.08-.46,3.48.54-.94.88-1.6,1.28-2.22,1.56-2.39,4.2-3.45,6.48-2.63a2.42,2.42,0,0,1,.9.5,2.62,2.62,0,0,1,.62.82,2.53,2.53,0,0,1,.06,2,2.28,2.28,0,0,1-3.38,1c-1.06-.61-2.05-1.45-3.34-.68a4.46,4.46,0,0,0-2.07,3.81c-.14,3,0,5.94,0,8.92a1.54,1.54,0,0,0,1.52,1.6C31.73,23.25,32,23.69,31.69,24.57Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M80.57,6.72V5.3h9.81c0,.46.07.84.1,1.31l-.71.14c-1.24.21-1.68.74-1.3,1.94.8,2.55,1.7,5.08,2.57,7.6a20.51,20.51,0,0,0,1.57,3.63c.34-1.08.7-2.16,1-3.25.69-2.21,1.36-4.43,2-6.64s.08-3.15-2.33-3.29a3,3,0,0,1-.53-.08V5.39h8.29V6.71c-2.49-.07-3.25,1.66-3.9,3.7-1.48,4.81-3.08,9.57-4.64,14.38H89.31q-2.57-7-5.14-14C84,10.16,83.73,9.6,83.52,9,83.07,7.64,82.29,6.65,80.57,6.72Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M143.5,0h2.26V5.29h4.12V6.78h-4.11V19.51c0,3.58.88,4.2,4.1,2.86.36,1-.16,1.57-1.05,1.95a7.33,7.33,0,0,1-4.64.42,4.5,4.5,0,0,1-3.47-4.6q-.11-5.92,0-11.85c0-1.15-.27-1.66-1.47-1.55-.2,0-.61-.39-.63-.64s.29-.75.48-.77C142.28,5.05,143.07,2.72,143.5,0Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M88.75,40.43H87.41V30.18c1.88-.43,1.89-.43,2.61,1.27.9,2.15,1.81,4.3,2.83,6.72,1-2.39,2-4.48,2.75-6.65.46-1.3,1.12-1.89,2.6-1.38V40.37c-.92.33-1.2,0-1.18-1a62.14,62.14,0,0,0-.24-7.22c-.15.3-.32.58-.44.88-.92,2.21-1.8,4.44-2.74,6.64-.14.32-.52.72-.77.71s-.63-.43-.76-.75c-.88-2.05-1.7-4.12-2.55-6.18a2.79,2.79,0,0,0-.76-1.12Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M129,40.42h-1.39V30.12a2,2,0,0,1,2.6,1c1.53,2.48,3.22,4.86,5,7.59V30.09l1.36-.1V40.37a1.92,1.92,0,0,1-2.52-1c-1.55-2.48-3.25-4.87-5.11-7.62Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M76.89,40.71a5.32,5.32,0,0,1-3.83-1.58,5.4,5.4,0,0,1-1.15-1.78,5.28,5.28,0,0,1-.36-2.08,5.34,5.34,0,0,1,5.53-5.54,5.25,5.25,0,0,1,5.43,5.59C82.49,38.55,80.24,40.71,76.89,40.71Zm4.2-5.44a4,4,0,0,0-4-4.33A4.11,4.11,0,0,0,73,35.13a4,4,0,0,0,.25,1.67,4.05,4.05,0,0,0,.89,1.44,4.24,4.24,0,0,0,1.4,1,4.09,4.09,0,0,0,1.66.32A4,4,0,0,0,81.09,35.27Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M123.3,40.37c-1.13.36-1.78,0-2-1-.24-1.3-1-1.68-2.28-1.5a4.09,4.09,0,0,1-1.21,0c-1.62-.24-2.71.2-3,2-.19,1-1,.63-1.78.61,1.5-3.4,2.93-6.7,4.41-10a.91.91,0,0,1,1.55-.09C120.45,33.67,121.86,37,123.3,40.37Zm-3.09-3.75-2-5c-.76,1.83-1.38,3.36-2.06,5Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M67.58,39a5.32,5.32,0,0,1-3.7,1.77A5.4,5.4,0,0,1,60,39.35a5.84,5.84,0,0,1-.23-8,5.22,5.22,0,0,1,1.71-1.19,5.27,5.27,0,0,1,4.1,0,5.19,5.19,0,0,1,1.73,1.15,4.41,4.41,0,0,1-.51.46l-.49.31c-2-1.53-4.09-1.44-5.53.23a4.75,4.75,0,0,0,0,6c1.59,1.65,3.64,1.63,5.75-.09Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M103.9,30c1.49,0,2.87-.06,4.23,0a2.57,2.57,0,0,1,2.65,2.61,2.63,2.63,0,0,1-2.31,3,10.6,10.6,0,0,1-1.69.13c-.51,0-1,0-1.64,0v4.56l-1.24.13Zm1.27,4.6c1,0,1.85.06,2.69,0a1.53,1.53,0,0,0,.59-.13,1.46,1.46,0,0,0,.5-.35,1.42,1.42,0,0,0,.32-.51,1.36,1.36,0,0,0,.1-.6,1.54,1.54,0,0,0-1.4-1.8,23.76,23.76,0,0,0-2.8,0Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M140.92,30.12a1.73,1.73,0,0,1,2.33,1c.62,1.19,1.4,2.28,2.21,3.59L147.84,31c.65-1,.65-1,2.16-.9-.67,1-1.22,2-1.92,2.95a7.91,7.91,0,0,0-2,6.39c.13.81-.14,1.3-1.13,1-.55-1.74.49-3.75-.85-5.46C143,33.44,142,31.78,140.92,30.12Z"
                                            ></path></g
                                        ></svg
                                    >
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        width="150"
                                        height="29"
                                        viewBox="0 0 150 29"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M1.04487 13.1037H11.14C11.7172 13.1037 12.1849 12.636 12.1849 12.0588V1.96351C12.1849 1.38654 11.7172 0.918823 11.14 0.918823H1.04487C0.467911 0.918823 0 1.38654 0 1.96351V12.0588C0 12.636 0.467911 13.1037 1.04487 13.1037Z"
                                        ></path>
                                        <mask
                                            id="mask0_1130_78"
                                            style="mask-type:luminance"
                                            maskUnits="userSpaceOnUse"
                                            x="14"
                                            y="0"
                                            width="14"
                                            height="14"
                                        >
                                            <path
                                                d="M14.7061 0.498657H27.3111V13.1037H14.7061V0.498657Z"
                                            ></path>
                                        </mask>
                                        <g mask="url(#mask0_1130_78)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M21.0086 13.1037C24.4893 13.1037 27.3111 10.2819 27.3111 6.8012C27.3111 3.32047 24.4893 0.498657 21.0086 0.498657C17.5279 0.498657 14.7061 3.32047 14.7061 6.8012C14.7061 10.2819 17.5279 13.1037 21.0086 13.1037Z"
                                            ></path>
                                        </g>
                                        <mask
                                            id="mask1_1130_78"
                                            style="mask-type:luminance"
                                            maskUnits="userSpaceOnUse"
                                            x="0"
                                            y="15"
                                            width="13"
                                            height="14"
                                        >
                                            <path
                                                d="M0.42041 15.6248H12.6053V28.2298H0.42041V15.6248Z"
                                            ></path>
                                        </mask>
                                        <g mask="url(#mask1_1130_78)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M0.901067 15.6248H12.1247C12.3901 15.6248 12.6054 15.8526 12.6054 16.1338V21.7042C12.6054 25.3083 9.84643 28.2298 6.44309 28.2298C3.11684 28.2298 0.42041 25.3744 0.42041 21.852V16.1338C0.42041 15.8526 0.635677 15.6248 0.901067 15.6248Z"
                                            ></path>
                                        </g>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M15.6066 15.6248H21.2283C24.5876 15.6248 27.3109 18.442 27.3109 21.9173C27.3109 25.4036 24.5789 28.2298 21.2088 28.2298H21.0885C17.7955 28.2298 15.126 25.4682 15.126 22.0616V16.1219C15.126 15.8473 15.3413 15.6248 15.6066 15.6248Z"
                                        ></path>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M83.8237 26.1289C77.9157 26.1289 73.1094 21.2537 73.1094 15.2611V5.22267C73.1094 3.77388 74.2672 2.59949 75.6953 2.59949C77.1236 2.59949 78.2815 3.77388 78.2815 5.22267V15.2611C78.2815 18.361 80.7676 20.8827 83.8237 20.8827C86.8798 20.8827 89.3659 18.361 89.3659 15.2611V5.22267C89.3659 3.77388 90.5237 2.59949 91.9518 2.59949C93.3801 2.59949 94.5379 3.77388 94.5379 5.22267V15.2611C94.5379 21.2537 89.7316 26.1289 83.8237 26.1289Z"
                                        ></path>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M62.12 26.1289C60.6917 26.1289 59.534 24.9545 59.534 23.5059V13.4673C59.534 10.3676 57.0477 7.84565 53.9916 7.84565C50.9357 7.84565 48.4494 10.3676 48.4494 13.4673V23.5059C48.4494 24.9545 47.2916 26.1289 45.8633 26.1289C44.4352 26.1289 43.2773 24.9545 43.2773 23.5059V13.4673C43.2773 7.4749 48.0837 2.59949 53.9916 2.59949C59.8996 2.59949 64.7059 7.4749 64.7059 13.4673V23.5059C64.7059 24.9545 63.5483 26.1289 62.12 26.1289Z"
                                        ></path>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M111.59 26.1289C110.847 26.1289 109.812 25.8382 109.103 24.453L100.657 6.5324C100.369 5.91828 100.343 5.27493 100.58 4.67056C100.812 4.07715 101.259 3.61753 101.908 3.30509C102.268 3.11568 102.641 3.01965 103.018 3.01965C103.272 3.01965 103.53 3.06391 103.782 3.151C104.406 3.3664 104.883 3.78136 105.2 4.38451L105.208 4.39974L111.543 18.1476L117.812 4.40096L117.821 4.38451C118.14 3.7773 118.634 3.36112 119.289 3.14755C119.549 3.06269 119.815 3.01965 120.081 3.01965C120.472 3.01965 120.866 3.11243 121.252 3.29555C121.893 3.58464 122.329 4.04812 122.549 4.673C122.766 5.2928 122.731 5.91767 122.444 6.53057L114.007 24.4339C113.376 25.8331 112.344 26.1289 111.59 26.1289Z"
                                        ></path>
                                        <mask
                                            id="mask2_1130_78"
                                            style="mask-type:luminance"
                                            maskUnits="userSpaceOnUse"
                                            x="126"
                                            y="2"
                                            width="24"
                                            height="25"
                                        >
                                            <path
                                                d="M126.891 2.59949H150V26.1289H126.891V2.59949Z"
                                            ></path>
                                        </mask>
                                        <g mask="url(#mask2_1130_78)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M138.465 7.50989C137.217 7.50989 136.103 7.80197 135.155 8.37761C134.204 8.95427 133.444 9.76617 132.896 10.7912C132.343 11.8235 132.063 13.0323 132.063 14.3841C132.063 15.7353 132.343 16.9363 132.894 17.954C133.443 18.9671 134.203 19.7733 135.155 20.3506C136.103 20.9264 137.217 21.2183 138.465 21.2183C139.712 21.2183 140.826 20.9264 141.775 20.3506C142.725 19.7741 143.478 18.9695 144.013 17.9595C144.553 16.9396 144.827 15.7367 144.827 14.3841C144.827 13.0308 144.553 11.8203 144.011 10.7859C143.476 9.76374 142.724 8.95346 141.775 8.37761C140.826 7.80197 139.712 7.50989 138.465 7.50989ZM138.465 26.1289C136.222 26.1289 134.209 25.6215 132.482 24.621C130.751 23.6195 129.371 22.2169 128.38 20.4525C127.392 18.6935 126.891 16.6517 126.891 14.3841C126.891 12.0907 127.392 10.0355 128.381 8.27552C129.371 6.51185 130.751 5.10949 132.482 4.10719C134.21 3.10672 136.223 2.59949 138.465 2.59949C140.68 2.59949 142.68 3.10672 144.409 4.10719C146.139 5.10949 147.519 6.51185 148.51 8.27531C149.499 10.0367 150 12.0919 150 14.3841C150 16.6495 149.506 18.69 148.532 20.4492C147.553 22.2153 146.18 23.6189 144.448 24.621C142.72 25.6217 140.707 26.1289 138.465 26.1289Z"
                                            ></path>
                                        </g>
                                    </svg>
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        id="Layer_1"
                                        data-name="Layer 1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 364.23 57.68"
                                        ><path
                                            d="M0,34.38c1.5-4,3.3-7.84,6.87-10.59,6.58-5.07,18.84-5.26,25.32-.22,4.17,3.25,4,5.69-.47,8.65-1.3.88-2.27.51-3.14-.72A36.29,36.29,0,0,0,25,26.78C19.66,21.43,12.11,23,9.27,29.87a17.3,17.3,0,0,0,1.8,17c3.44,5.17,8.82,5.5,14.26,4.68,2.4-.36,4.66-1.62,7-2.5.74-.29,1.44-.67,2.16-1l.62.44a10.89,10.89,0,0,1-1.17,2.59c-4.72,5.79-11.17,7.31-18.15,6.37C7.39,56.31,2.3,51.16.49,42.93A5.44,5.44,0,0,0,0,41.82Z"
                                        ></path><path
                                            d="M174.72,25.39c3.44-1.72,6.6-3.79,10.08-4.87,2.39-.74,5.26-.42,7.84,0,3.07.47,3.85,1.49,6.23,5.76,1.72-1.25,3.37-2.63,5.18-3.74a16.84,16.84,0,0,1,13.16-2.05c3.46.83,5.59,3.08,5.93,6.51.41,4,.39,8.06.48,12.1.07,3.55,0,7.1.06,10.66,0,3.15.75,4,3.91,4.7a3.78,3.78,0,0,1,1.2.3A11.65,11.65,0,0,1,230.24,56c-.54.36-1.08,1-1.63,1-4.57.08-9.14.05-13.72.05a11.38,11.38,0,0,1-2.48-.05,6.14,6.14,0,0,1-1.69-1c.41-.44.74-1.07,1.25-1.27,3.81-1.58,3.84-1.56,3.83-5.53,0-5.53.07-11.06-.05-16.59-.14-6.8-3.8-9.21-10.19-6.65a21.94,21.94,0,0,0-5.23,3.27,3.65,3.65,0,0,0-1.07,2.55c-.1,5.69-.08,11.39,0,17.09,0,3.73,1.1,5,4.75,5.83a16.18,16.18,0,0,1,2.27.89l0,.82a12,12,0,0,1-2.63.64c-5.24.06-10.48.07-15.72,0-.74,0-1.48-.63-2.23-1,.63-.48,1.19-1.2,1.9-1.4,3.25-.91,4-1.58,4.05-5,0-6.36-.05-12.72-.34-19.07-.19-4.13-3.1-6.21-7.16-5.5a17.1,17.1,0,0,0-3.59,1c-5,2-5.71,3.17-5.69,8.43,0,4.87,0,9.74.08,14.61.05,3.93.55,4.48,4.23,5.57.63.18,1.1.92,1.64,1.4-.59.3-1.19.87-1.79.88-5.57.07-11.15.08-16.72,0-.62,0-1.24-.71-1.86-1.09.53-.4,1-1,1.58-1.18,4.88-1.19,5.14-1.41,5.24-6.49.08-4.87-.08-9.74.08-14.61.11-3.53-1.12-6-4.42-7.55a8.93,8.93,0,0,1-2-1.89,11.8,11.8,0,0,1,2.42-1.44c2.93-.91,5.92-1.61,8.85-2.51,2.06-.63,2.8.06,2.62,2.1C174.65,23.43,174.72,24.51,174.72,25.39Z"
                                        ></path><path
                                            d="M311.73,57.41c-.08-1.72-.14-2.85-.21-4.44-.87.51-1.53.88-2.17,1.29-5.85,3.77-12,4.29-18.23,1.22S282,46.7,281.69,40c-.83-16.62,13.83-23.24,26.87-19.27.84.26,1.67.58,2.61.91,0-4,.42-7.81-.2-11.45-.27-1.58-2.71-2.79-4.17-4.17l-1.71-1.59a7.58,7.58,0,0,1,2-1.49c3-.93,6.07-1.7,9.12-2.51C319-.34,319.4,0,319.39,2.92q-.09,20.06-.22,40.13c0,1.07,0,2.15,0,3.22.15,3.35.91,4.21,4.15,5.3a8.74,8.74,0,0,1,2.17,1.6,9,9,0,0,1-2.18,1.32C319.6,55.5,315.84,56.39,311.73,57.41Zm-.27-17.32h-.21c0-2.47.12-5,0-7.41a9.68,9.68,0,0,0-7.46-9.07,9.83,9.83,0,0,0-11.25,4.3c-3.44,5.39-3.12,11.18-1.19,16.88,2.43,7.16,10,9.89,16.86,6.41,2.28-1.17,3.61-2.69,3.32-5.43A53.75,53.75,0,0,1,311.46,40.09Z"
                                        ></path><path
                                            d="M54.3,24.8c3.88-1.67,7.63-3.48,11.54-4.87A11.8,11.8,0,0,1,71,19.7c5.45.67,8.13,3.61,8.24,9.07.14,6.52.09,13.05.12,19.57,0,4.42.58,5,4.88,6,.7.16,1.26,1,1.89,1.47a6.26,6.26,0,0,1-2,.84c-5.4.07-10.81.08-16.22,0-.71,0-1.41-.66-2.12-1,.59-.45,1.13-1.13,1.79-1.29,3.35-.83,4-1.47,4-4.89,0-5.94,0-11.89-.08-17.83-.08-5.37-2.73-7.74-8-6.58-2.82.62-5.48,2.2-8.05,3.62a3.59,3.59,0,0,0-1.15,2.73c-.09,6.11-.06,12.22,0,18.33,0,3.05.8,3.78,3.78,4.61a8,8,0,0,1,2.17,1.51,8.23,8.23,0,0,1-2.37.81c-5.32.07-10.64.08-16,0-.71,0-1.4-.69-2.09-1.06.6-.43,1.14-1.11,1.81-1.25,4.37-1,4.82-1.47,4.83-6,0-11.65,0-23.29.08-34.93,0-3.48-1.27-5.83-4.38-7.34-.73-.35-1.22-1.17-1.82-1.78a7.67,7.67,0,0,1,2-1.45C45.5,1.9,48.65,1.15,51.76.28c1.91-.54,2.73-.1,2.68,2.07-.13,6.77-.11,13.54-.14,20.31C54.29,23.52,54.3,24.39,54.3,24.8Z"
                                        ></path><path
                                            d="M263.37,53.2c-.45.25-1,.47-1.41.77-6.11,4.07-12.52,4.7-19.06,1.28S234,45.88,233.78,39c-.5-14.09,13-23.08,27.06-18.17a20.4,20.4,0,0,1,4.08,1.8c1.8,1.14,3,1.15,3.69-1.12.06-.24.11-.55.29-.67.57-.39,1.19-.7,1.79-1,.27.56.77,1.11.78,1.67,0,1.4-.21,2.8-.21,4.2,0,6.68-.05,13.37,0,20.05,0,3.82.93,4.85,4.64,5.94a9.13,9.13,0,0,1,2,1.16c-.64.53-1.2,1.31-1.94,1.53-3,.92-6.07,1.67-9.11,2.47s-3.11.61-3.13-2.37a7.93,7.93,0,0,0-.08-1C263.61,53.45,263.53,53.39,263.37,53.2Zm.29-12.77h.12a85,85,0,0,0-.47-8.62A9.54,9.54,0,0,0,255,23.45a9.89,9.89,0,0,0-11,5.42c-2.5,4.74-2.29,9.69-1,14.68,2.21,8.25,10.36,11.54,17.81,7.28,1.9-1.09,3-2.37,2.8-4.72A53.77,53.77,0,0,1,263.66,40.43Z"
                                        ></path><path
                                            d="M97.89,35.6c.45,6.76,2.24,12.38,8.81,14.93,6.17,2.38,11.84.46,17.16-3.15l.48.59a9.54,9.54,0,0,1-.81,2.23c-3.25,4.91-8.11,6.76-13.79,7.17-8.41.62-16.07-4.12-18.6-11.63C88,36.3,90.64,27,98.22,22.57a20.92,20.92,0,0,1,19.38-1.4,11.17,11.17,0,0,1,6.88,12c-.29,1.85-1.07,2.5-2.92,2.48-6.91-.07-13.81,0-20.72,0Zm.63-3.66c5.42,0,10.63,0,15.84,0,1.46,0,1.9-.65,1.84-1.95a7.7,7.7,0,0,0-6.08-6.61C104.39,22.61,99.72,26,98.52,31.94Z"
                                        ></path><path
                                            d="M144.12,20.42H156c.1,3.24-.16,3.52-3.05,3.53s-5.62,0-8.45,0c0,8.47-.15,16.7.07,24.93.09,3.45,1.27,4.34,4.67,5.13a4.72,4.72,0,0,1,1.21.24c.77.42,1.48,1,2.21,1.43a7.85,7.85,0,0,1-2.48.93c-4.74.09-9.48,0-14.23,0-1.5,0-3,.07-4.49,0-.53,0-1-.57-1.54-.87.46-.48.84-1.12,1.4-1.4a8.9,8.9,0,0,1,2.17-.47,3.54,3.54,0,0,0,3.18-3.81q.06-11.52.09-23a3.36,3.36,0,0,0-2.91-3.72,13.87,13.87,0,0,1-2.64-.7c-.51-.23-.87-.82-1.3-1.25.49-.31.95-.84,1.47-.91,1.62-.22,3.78.32,4.75-.54s.78-3,1.1-4.64A18.71,18.71,0,0,1,161.65,1l1.19.37c3.93,1.36,4.71,5,1.53,7.81a3.27,3.27,0,0,1-2.82.2c-2.14-.87-4.13-2.11-6.23-3.1C150,3.72,145.6,5.9,144.7,11.67,144.27,14.41,144.32,17.23,144.12,20.42Z"
                                        ></path><path
                                            d="M337.93,35.6c-1.09,11.29,9.09,18.9,19.54,14.95,1.39-.53,2.63-1.41,4-2a9.34,9.34,0,0,1,2.14-.43,6.13,6.13,0,0,1-.52,2.21c-3.31,4.64-8,6.65-13.62,7-8.62.59-16.33-4.3-18.82-12-2.95-9.16-.06-18.65,7.43-22.85,6.4-3.6,13.24-4.19,20-.87a11.09,11.09,0,0,1,6,11.51c-.24,1.87-1,2.53-2.9,2.51-6.89-.07-13.79,0-20.69,0Zm.22-3.66c5.42,0,10.65,0,15.89,0,1.5,0,1.84-.75,1.77-2a7.55,7.55,0,0,0-6.17-6.56C344,22.68,339.4,26,338.15,31.94Z"
                                        ></path></svg
                                    >
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        id="Layer_1"
                                        data-name="Layer 1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 358.04 79.29"
                                        ><path
                                            d="M0,56.57c.31-1.24.62-2.48.92-3.72A34,34,0,0,1,8.1,38.92a10.39,10.39,0,0,1,6.81-3.45,105.79,105.79,0,0,1,15.91-.85c1.67,0,2.39,1,1.75,2.56-1.56,3.73-3.13,7.46-4.88,11.09-3.27,6.79-6.65,13.53-10,20.26A9.51,9.51,0,0,1,6,73.31a7.8,7.8,0,0,1-4.65-4.93C.86,67,.44,65.66,0,64.3Z"
                                        ></path><path
                                            d="M308.81,0c0,.34,0,.67,0,1q0,21.65,0,43.3a17,17,0,0,0,.13,2c.35,2.89,2.41,4.18,5.41,3.5a22.43,22.43,0,0,0,3.47-1.39c0,1.15,0,2.41,0,3.67a17.84,17.84,0,0,1-.35,3.1,1.68,1.68,0,0,1-.88,1.13,16.51,16.51,0,0,1-12.13-.53,7.26,7.26,0,0,1-4.25-5.56,32.42,32.42,0,0,1-.56-5.47q-.06-22.38,0-44.77Z"
                                        ></path><path
                                            d="M34,52.79c0-4.88,0-9.76,0-14.64a4.94,4.94,0,0,1,3.09-4.63C44.26,30.2,51.49,27,58.64,23.58A48.67,48.67,0,0,1,69.4,19.66a7.67,7.67,0,0,1,9.07,5.22c2.32,7.49,1.41,14.68-1.81,21.74-2.59,5.67-6.39,10.43-10.54,15a53.5,53.5,0,0,1-13.6,10.9A19.16,19.16,0,0,1,39.42,75a6.29,6.29,0,0,1-5.25-5.92c-.22-5.43-.37-10.86-.55-16.29Z"
                                        ></path><path
                                            d="M129.4,38.35V1.3H137c1.1,0,1.23.13,1.24,1.2,0,1.32,0,2.64,0,4V54.84c0,1.48,0,1.5-1.48,1.5-1.79,0-3.57,0-5.36,0a1.94,1.94,0,0,1-1.87-1.05q-12-19.38-24-38.74a1.85,1.85,0,0,0-.64-.64V56.21h-9V1.3c2.55,0,5,.13,7.51,0a3.74,3.74,0,0,1,3.89,2.13c7,11.33,14,22.58,21,33.85.26.41.54.8.82,1.19Z"
                                        ></path><path
                                            d="M222.94,22.32c.64-.72,1.2-1.39,1.81-2,4.13-4.34,9.18-5.8,14.87-4.18,4.9,1.39,7.52,5.15,8.19,10a72.68,72.68,0,0,1,.24,9.46q.1,9.81.18,19.62v.89h-9V55c0-7.64,0-15.29,0-22.93a22.15,22.15,0,0,0-.57-4.65c-.74-3.26-4-5.08-7.54-4.38A9,9,0,0,0,225.92,26a6.2,6.2,0,0,0-1.69,4.32c.07,8.23,0,16.46,0,24.69V56.2h-9v-1q0-12.26,0-24.5a10,10,0,0,0-1.3-5,5.29,5.29,0,0,0-5.18-2.71A8.66,8.66,0,0,0,201,27.81a4,4,0,0,0-.37,1.85c0,8.45,0,16.89,0,25.33v1.13h-8.91V16.54h4.78c1,0,2,0,3,0,.83,0,1.09.31,1.06,1.08-.05,1,0,2,0,3.17a14.23,14.23,0,0,1,11.79-5.23A11.66,11.66,0,0,1,222.94,22.32Z"
                                        ></path><path
                                            d="M318.71,16.59c3,0,5.88,0,8.74,0,.71,0,.91.46,1.11,1,1.89,5.28,3.78,10.55,5.71,15.81,1.3,3.54,2.67,7,4,10.56.09.23.19.44.37.85.36-1,.68-1.73,1-2.52q4.45-12.4,8.89-24.82a1.4,1.4,0,0,1,1.54-1.1c2.61,0,5.22,0,8,0-.54,1.46-1,2.84-1.55,4.18q-8,19.86-16,39.71a25.7,25.7,0,0,1-5.73,8.81c-3.35,3.31-7.5,4.44-12.07,4.11a56.77,56.77,0,0,1-5.89-1c.26-2.69.49-5.12.73-7.67l1.83.74a8.83,8.83,0,0,0,11.95-4.54c.73-1.55,1.41-3.13,2.14-4.68a2.78,2.78,0,0,0,0-2.39Q327.53,39,321.66,24.25c-.86-2.13-1.69-4.27-2.53-6.41C319,17.48,318.88,17.1,318.71,16.59Z"
                                        ></path><path
                                            d="M157.69,37.89c.41,4.42,1.84,8.16,5.72,10.57a13.44,13.44,0,0,0,8.33,1.76,17,17,0,0,0,9.69-3.49c.19,1.41.38,2.69.53,4,.1.85.19,1.71.21,2.56,0,1.44-.18,1.79-1.61,2.12-2.63.6-5.27,1.25-7.94,1.6a23.65,23.65,0,0,1-11.19-1c-7.29-2.6-11.41-7.81-12.63-15.36a26.27,26.27,0,0,1,1.11-13.86c3.06-8,9.86-11.69,18.09-11.2a14.94,14.94,0,0,1,9.3,3.5,14.44,14.44,0,0,1,4.48,7.65A28.79,28.79,0,0,1,182.61,37c-.07.77-.39.93-1.11.93q-11.34,0-22.7,0Zm.18-6.07h16.46c-.19-1.36-.27-2.66-.56-3.9a7.28,7.28,0,0,0-10.49-4.85C159.89,24.76,157.57,28.48,157.87,31.82Z"
                                        ></path><path
                                            d="M290.85,37.84h-25c.43,6.8,4.07,11.52,10.57,12.32a18.17,18.17,0,0,0,12.49-2.75,4.74,4.74,0,0,1,.68-.3c.29,2.46.61,4.82.83,7.18a1.41,1.41,0,0,1-.62,1.15c-5.85,2-11.83,3.11-18,1.84a18.73,18.73,0,0,1-14.87-15.55,28.23,28.23,0,0,1,.67-13.27c2.1-6.92,6.74-10.95,13.87-12.24a17.16,17.16,0,0,1,11.19,1.53,13.82,13.82,0,0,1,7.65,11.41C290.62,32,290.67,34.83,290.85,37.84Zm-25-6h16.54c-.13-.91-.24-1.76-.36-2.61a8,8,0,0,0-2.93-5.63c-3.12-2.33-7.67-1.72-10.57,1.39C266.72,26.89,266.17,29.27,265.85,31.82Z"
                                        ></path><path
                                            d="M53,.43a41.05,41.05,0,0,1,4.24.89A3.26,3.26,0,0,1,59.26,6a19.11,19.11,0,0,1-4,5.68Q46.13,21.45,37,31.16a32.46,32.46,0,0,1-2.41,2.28,2,2,0,0,1-3.09-.17q-4.55-4.83-9-9.7a3.46,3.46,0,0,1-.4-4.18C25.4,13.28,30.42,8.9,36.43,5.54c3.55-2,7.15-3.82,11.22-4.48C49.28.79,50.94.66,53,.43Z"
                                        ></path><path
                                            d="M131.38,70.19c-.49.93-1,1.87-1.46,2.81-.72,1.38-1.39,2.8-2.18,4.14a2,2,0,0,1-1.23.89c-.25,0-.74-.51-.93-.88-1.1-2.32-2.15-4.67-3.42-7V79H120a6,6,0,0,1,0-.75l.21-11.59c0-.41-.12-.9.52-1s1.11-.12,1.43.52c.61,1.23,1.25,2.46,1.87,3.68l2.79,5.5.69-1.38c1.22-2.44,2.49-4.86,3.63-7.33a1.5,1.5,0,0,1,2.11-.91c.11,4.38.22,8.79.33,13.27h-1.91V70.27Z"
                                        ></path><path
                                            d="M114.66,72.59l3.65,6c-1.35.76-2,.59-2.67-.48s-1.35-2.33-2.1-3.45a2.63,2.63,0,0,0-3.14-1v5.26h-1.91V65.49a12.89,12.89,0,0,1,6.69.87c2.07,1,2.18,4.26.3,5.69A8.07,8.07,0,0,1,114.66,72.59Zm-4.19-5.48V72c1.08-.19,2.09-.31,3-.57a2,2,0,0,0,1.39-2,2,2,0,0,0-1.51-1.87C112.45,67.3,111.48,67.23,110.47,67.11Z"
                                        ></path><path
                                            d="M196.38,75.4c.52-1.69,1.08-3.38,1.56-5.09.18-.66.57-.66,1.09-.65s.91,0,1.1.64c.49,1.77,1.08,3.51,1.69,5.44a6.41,6.41,0,0,0,.31-.66c.45-1.49.88-3,1.33-4.49s.45-1.48,2.21-1.19c-.52,1.64-1,3.27-1.55,4.9-.39,1.25-.82,2.5-1.2,3.76-.16.55-.39,1-1,1s-.82-.52-1-1c-.58-1.74-1.15-3.48-1.73-5.22h-.26c-.22.63-.45,1.27-.64,1.91-.36,1.17-.66,2.36-1.07,3.51a.92.92,0,0,1-1.78.12c-1-2.92-1.93-5.87-2.88-8.81,0-.05,0-.12,0-.17,1.51-.19,1.66-.1,2.11,1.32q.75,2.37,1.48,4.72Z"
                                        ></path><path
                                            d="M226.7,78.79H225V75c0-.77,0-1.54,0-2.3,0-1.31-.72-2.16-1.75-2.18a2.32,2.32,0,0,0-2.43,2.23c0,1.71,0,3.43,0,5.15v1H219V65.29h1.75v4.42c.84-.19,1.53-.37,2.23-.51,2.37-.5,3.83.7,3.82,3.12,0,2.08,0,4.17,0,6.25C226.79,78.63,226.75,78.68,226.7,78.79Z"
                                        ></path><path
                                            d="M105.52,76.61c.58,1.55.44,2-1,2.34a7.22,7.22,0,0,1-6.18-.81,3.36,3.36,0,0,1-1.18-1.25,9.44,9.44,0,0,1,.06-8.74,5.77,5.77,0,0,1,7.54-2.3l1.23.56L105.5,68c-.66-.28-1.24-.55-1.84-.77a3.87,3.87,0,0,0-5.12,2.71,9.31,9.31,0,0,0-.18,4.54,4.1,4.1,0,0,0,5.82,2.83C104.62,77.1,105,76.86,105.52,76.61Z"
                                        ></path><path
                                            d="M163.55,79c-.72,0-1.47.37-1.75-.66a4.2,4.2,0,0,1-3.67.78,2.69,2.69,0,0,1-2-2.24,2.77,2.77,0,0,1,1-2.78,6,6,0,0,1,3.49-1.25l1.06-.13c-.1-2-1.34-2.35-4.74-1.23-.66-1.38-.49-1.7,1-2.14a4.82,4.82,0,0,1,3.58,0,3.28,3.28,0,0,1,2.1,3.17C163.56,74.61,163.55,76.75,163.55,79Zm-1.8-5.16A24.6,24.6,0,0,0,158.83,75a1.71,1.71,0,0,0-.77,1.27,1.73,1.73,0,0,0,.83,1.27A2.15,2.15,0,0,0,161.73,76,13.36,13.36,0,0,0,161.75,73.79Z"
                                        ></path><path
                                            d="M239.42,78.21a4.58,4.58,0,0,1-4,.83,2.53,2.53,0,0,1-1.85-2.28c0-2.45,0-4.9,0-7.41h1.77c0,2,0,4,0,6,0,1.47.58,2.22,1.8,2.26a2.2,2.2,0,0,0,2.33-2.29c0-2,0-3.92,0-5.86,1.6-.48,1.94-.25,2,1.33q0,3.49,0,7c0,.44.28,1-.46,1.21S239.67,79.08,239.42,78.21Z"
                                        ></path><path
                                            d="M140.37,77.19c1.12.19,2.22.42,3.32.57a1.14,1.14,0,0,0,1.37-.83,1.23,1.23,0,0,0-.83-1.46c-.78-.36-1.57-.69-2.34-1.08a2.71,2.71,0,0,1-1.62-3,2.76,2.76,0,0,1,2.62-2.3,9.89,9.89,0,0,1,2.55.13c1.32.26,1.41.59.71,1.86-.87-.14-1.74-.29-2.62-.42-.53-.08-1.05-.1-1.25.59a1.1,1.1,0,0,0,.64,1.44c.8.38,1.61.75,2.41,1.14a2.57,2.57,0,0,1,1.75,2.63,2.61,2.61,0,0,1-2.29,2.61,12.6,12.6,0,0,1-3.47,0C140.06,79,139.93,78.54,140.37,77.19Z"
                                        ></path><path
                                            d="M243.68,77.07c1.14.19,2.17.39,3.21.51a1.65,1.65,0,0,0,1-.29c.9-.52.91-1.34,0-1.84s-1.65-.81-2.49-1.2a2.51,2.51,0,0,1-1.68-2.58,2.64,2.64,0,0,1,2.07-2.41,5.3,5.3,0,0,1,3.6.15c.51.21.73.49.54,1.06s-.44.73-1,.56a6.76,6.76,0,0,0-2-.35,1.61,1.61,0,0,0-1.18.62,1.25,1.25,0,0,0,.41,1.11,17.63,17.63,0,0,0,2.49,1.36,2.64,2.64,0,0,1,1.84,2.67A2.56,2.56,0,0,1,248,79a8.61,8.61,0,0,1-2.91,0C243.16,78.59,243.33,78.36,243.68,77.07Z"
                                        ></path><path
                                            d="M181.83,71.79A9,9,0,0,0,183.18,73a17.75,17.75,0,0,0,2.27,1,2.26,2.26,0,0,1,1.37,2.37,2.33,2.33,0,0,1-1.36,2.4,6.07,6.07,0,0,1-4.75,0c-.8-.3-.86-.8-.31-1.89a18.49,18.49,0,0,0,2.14.71,2.21,2.21,0,0,0,1.42-.12,2.17,2.17,0,0,0,1-1.13c.07-.24-.49-.79-.87-1-.79-.45-1.65-.79-2.49-1.17a2.33,2.33,0,0,1-1.54-2.28,2.44,2.44,0,0,1,1.54-2.4,5,5,0,0,1,4-.06c.44.17.87.34.6,1s-.45.85-1.09.59a8.93,8.93,0,0,0-.9-.17A2,2,0,0,0,181.83,71.79Z"
                                        ></path><path
                                            d="M172.64,69.35l1.32-.06c.29-2,.54-2.31,2-2.39v2.42h2.56v1.41h-2.48v3.65c0,.55,0,1.1,0,1.66s-.16,1.36.57,1.59a6.84,6.84,0,0,0,1.94,0c.32.88,0,1.38-1.16,1.51-2.21.24-3.25-.63-3.31-2.85,0-1.81,0-3.62,0-5.43,0,0,0-.05-.1-.14l-1.32-.09Z"
                                        ></path><path
                                            d="M149.89,70.76l-1.38-.06V69.45l1.28-.12c.17-1.81.5-2.24,1.89-2.42v2.52h2.76v1.38h-3c.14,2.17.24,4.21.46,6.23,0,.3.66.67,1.06.74a4.67,4.67,0,0,0,1.5-.2c0,1.59,0,1.64-1.5,1.64h-.55c-2,0-2.8-1-2.64-3,.13-1.62.12-3.25.16-4.87A4.84,4.84,0,0,0,149.89,70.76Z"
                                        ></path><path
                                            d="M212.54,70.77l-1.35-.08V69.45l1.23-.14c.21-2,.41-2.21,1.88-2.36v2.39H217v1.45h-2.83c.17,2.21.29,4.27.51,6.33.06.61,1,.9,1.77.62a4,4,0,0,0,.55-.33c.15,1.56,0,1.76-1.54,1.8-2,.06-3.07-1.1-2.91-3.11.08-1,.1-2,.1-3C212.64,72.33,212.58,71.6,212.54,70.77Z"
                                        ></path><path
                                            d="M168,78.89h-1.6V69.36c.74-.23,1.49-.49,1.72.75a3.92,3.92,0,0,1,3.25-1c.36,1.42.23,1.64-1.15,1.87A2.5,2.5,0,0,0,168,73.62C168,75.36,168,77.1,168,78.89Z"
                                        ></path><path
                                            d="M207.26,78.89V69.34H209c0,.31,0,.63,0,1v7.18C209.07,79.12,209.07,79.12,207.26,78.89Z"
                                        ></path><path
                                            d="M253.56,76.5a1.35,1.35,0,1,1-1.22,1.4A1.19,1.19,0,0,1,253.56,76.5Z"
                                        ></path><path
                                            d="M208.22,67.82A1.15,1.15,0,0,1,207,66.64a1.2,1.2,0,0,1,1.14-1.29,1.12,1.12,0,0,1,1.18,1.21C209.3,67.28,209.07,67.81,208.22,67.82Z"
                                        ></path></svg
                                    >
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        width="150"
                                        height="19"
                                        viewBox="0 0 150 19"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M0.25 18.8643L8.3 0.989257H14.475L22.525 18.8643H18.175L16.475 15.0893H6.3L4.6 18.8643H0.25ZM7.75 11.8393H15.025L11.55 4.11426H11.225L7.75 11.8393ZM24.5283 18.8643V0.989257H28.5283V18.8643H24.5283ZM49.9637 18.9893C46.6637 18.9893 44.1387 18.2309 42.3887 16.7143C40.6387 15.1809 39.7637 12.9143 39.7637 9.91426C39.7637 6.93092 40.6387 4.67259 42.3887 3.13926C44.1387 1.60592 46.6637 0.847591 49.9637 0.864257L58.9637 0.914256V4.11426H50.2387C48.072 4.11426 46.4637 4.57259 45.4137 5.48926C44.3637 6.40592 43.8387 7.88092 43.8387 9.91426C43.8387 11.9476 44.3637 13.4309 45.4137 14.3643C46.4637 15.2809 48.072 15.7393 50.2387 15.7393H59.2137V18.9893H49.9637ZM60.2109 18.8643L68.2609 0.989257H74.4359L82.4859 18.8643H78.1359L76.4359 15.0893H66.2609L64.5609 18.8643H60.2109ZM67.7109 11.8393H74.9859L71.5109 4.11426H71.1859L67.7109 11.8393ZM83.9143 18.9893V15.7393L98.2893 15.7643C99.0226 15.7643 99.5809 15.5976 99.9643 15.2643C100.364 14.9143 100.564 14.3559 100.564 13.5893C100.564 12.8226 100.364 12.2726 99.9643 11.9393C99.5809 11.5893 99.0226 11.4143 98.2893 11.4143H89.3393C87.4893 11.4143 86.0476 10.9726 85.0143 10.0893C83.9976 9.18926 83.4893 7.87259 83.4893 6.13926C83.4893 4.40592 83.9976 3.09759 85.0143 2.21426C86.0476 1.31426 87.4893 0.864257 89.3393 0.864257H103.389V4.11426L89.7643 4.08926C89.0476 4.08926 88.4893 4.25592 88.0893 4.58926C87.6893 4.90592 87.4893 5.42259 87.4893 6.13926C87.4893 6.85592 87.6893 7.38092 88.0893 7.71426C88.4893 8.03092 89.0476 8.18926 89.7643 8.18926H98.7143C100.564 8.18926 101.998 8.64759 103.014 9.56426C104.048 10.4643 104.564 11.8059 104.564 13.5893C104.564 15.3559 104.048 16.6976 103.014 17.6143C101.998 18.5309 100.564 18.9893 98.7143 18.9893H83.9143ZM107.072 18.8643V0.989257H126.672V4.23926H111.072V8.18926H125.222V11.4393H111.072V15.6143H126.672V18.8643H107.072ZM128.836 18.9893V15.7393L143.211 15.7643C143.944 15.7643 144.503 15.5976 144.886 15.2643C145.286 14.9143 145.486 14.3559 145.486 13.5893C145.486 12.8226 145.286 12.2726 144.886 11.9393C144.503 11.5893 143.944 11.4143 143.211 11.4143H134.261C132.411 11.4143 130.969 10.9726 129.936 10.0893C128.919 9.18926 128.411 7.87259 128.411 6.13926C128.411 4.40592 128.919 3.09759 129.936 2.21426C130.969 1.31426 132.411 0.864257 134.261 0.864257H148.311V4.11426L134.686 4.08926C133.969 4.08926 133.411 4.25592 133.011 4.58926C132.611 4.90592 132.411 5.42259 132.411 6.13926C132.411 6.85592 132.611 7.38092 133.011 7.71426C133.411 8.03092 133.969 8.18926 134.686 8.18926H143.636C145.486 8.18926 146.919 8.64759 147.936 9.56426C148.969 10.4643 149.486 11.8059 149.486 13.5893C149.486 15.3559 148.969 16.6976 147.936 17.6143C146.919 18.5309 145.486 18.9893 143.636 18.9893H128.836Z"
                                        ></path>
                                    </svg>
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        id="logo-1"
                                        data-name="Layer 1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 150 40.73"
                                        ><defs
                                            ><style>
                                                .cls-1 {
                                                    fill: none;
                                                }
                                                .cls-2 {
                                                    clip-path: url(#clip-path);
                                                }
                                            </style><clipPath id="clip-path"
                                                ><rect
                                                    class="cls-1"
                                                    width="150"
                                                    height="40.73"
                                                ></rect></clipPath
                                            ></defs
                                        ><g class="cls-2"
                                            ><path
                                                class="cls-3"
                                                d="M54.31,20.84a32,32,0,0,1-2.78,2.95,6,6,0,0,1-6.71.86c-2.23-1-3-3.06-3-5.32-.08-3.38,0-6.76,0-10.14,0-2.09,0-2.13-2.14-2.28V5.61l5.94-.51c1-.09,1.3.51,1.3,1.44q0,5.93,0,11.85a14.12,14.12,0,0,0,.25,2.67,2.12,2.12,0,0,0,3.38,1.6c2-1.27,3.47-3,3.47-5.61V9.23c0-2.13,0-2.13-2.15-2.34l-.08-1.26c2.11-.18,4.16-.38,6.21-.53,1-.07,1.15.66,1.15,1.47v12.7c0,2.06.24,2.3,2.35,2.5.11.59.27,1.09-.6,1.37-1.65.54-3.27,1.19-4.91,1.78-1.44.52-2.13,0-1.93-1.55,0-.4.13-.8.17-1.21S54.26,21.35,54.31,20.84Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M120.4,21.56v1.21c-2,.77-3.89,1.55-5.83,2.24-1.19.42-1.67,0-1.67-1.24v-2a20.82,20.82,0,0,1-3,2.68,6.11,6.11,0,0,1-5.07.41,4.93,4.93,0,0,1-2.37-8.08,10.28,10.28,0,0,1,5-2.93c1.47-.48,3-.86,4.46-1.2.73-.17,1-.48.95-1.25-.09-.93-.1-1.86-.17-2.8s-.09-2-1.28-2.36A3,3,0,0,0,108,7.53c-.43.82-.55,1.81-1,2.61A4.56,4.56,0,0,1,105.33,12a1.76,1.76,0,0,1-2.39-.55,3.62,3.62,0,0,1-.21-2.51c.65-1.95,2.42-2.77,4.21-3.37a14,14,0,0,1,7.1-.42c2.69.52,3.9,2.08,3.94,5.17.06,2.86,0,5.71,0,8.56C118,21.16,118.13,21.3,120.4,21.56Zm-7.51-8.11c-1.46.63-2.65,1-3.71,1.63a5.09,5.09,0,0,0-2.62,5.46,2.5,2.5,0,0,0,1.59,2.28,2.41,2.41,0,0,0,1.5.1,2.47,2.47,0,0,0,1.29-.78,9.41,9.41,0,0,0,1.21-1.66C113.36,18.39,112.76,16.12,112.89,13.45Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M7.68,2.18a32.62,32.62,0,0,0-3.3,0c-1.26.13-1.81,1.17-2.24,2.19A1.49,1.49,0,0,1,0,5.39C.39,3.85.73,2.25,1.24.7,1.32.46,2.16.37,2.65.37,7.23.43,11.81.55,16.4.59c1.36,0,2.73-.17,4.33-.28-.45,1.72-.79,3.28-1.32,4.78-.11.32-.9.39-1.32.55-.18-.25-.25-.32-.25-.38,0-2.89-1.4-3.91-4.3-3.07a1,1,0,0,0-.35.34A1.14,1.14,0,0,0,13,3q0,9.29,0,18.58A1.34,1.34,0,0,0,14.19,23l1.63.34v1.19h-11v-1.1c2.84-.93,2.84-.93,2.84-4Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M67.91,15.55c.35,1.76.53,3.3,1,4.76a4.35,4.35,0,0,0,4,3.3,4.49,4.49,0,0,0,4.6-2.34,1.29,1.29,0,0,1,1.92-.63,7.42,7.42,0,0,1-.51,1.28A6.35,6.35,0,0,1,73.6,25c-6.18.36-10.44-3.35-10.69-9.38-.17-4,1-7.32,4.55-9.44C71.63,3.72,79.17,4.83,80.14,12c.36,2.54-.5,3.58-3,3.58Zm7.34-1.71A11.93,11.93,0,0,0,74.43,8a2.77,2.77,0,0,0-4.73-.55c-1.46,1.84-1.59,4-1.57,6.35Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M135.34,5.21c.11,1.84.21,3.45.32,5.11a1.39,1.39,0,0,1-2-.8,5.24,5.24,0,0,0-3.76-3.17,2.89,2.89,0,0,0-1.79.15,2.93,2.93,0,0,0-1.35,1.18,2.61,2.61,0,0,0-.22,1.78,2.64,2.64,0,0,0,.95,1.51,16.86,16.86,0,0,0,2.38,1.43c1.52.84,3.14,1.54,4.56,2.52a5.24,5.24,0,0,1,2.27,5.86A6.1,6.1,0,0,1,131.43,25a23.82,23.82,0,0,1-4.61-.75c-.91-.18-1.83-1.09-2.66.23-.12.2-.74.08-1.18.11-.09-.53-.2-1-.24-1.4-.11-1.25-.19-2.5-.28-3.77a1.45,1.45,0,0,1,2,.89,6.23,6.23,0,0,0,5.09,3.49,2.5,2.5,0,0,0,2.68-1.3,2.43,2.43,0,0,0-.23-3,10.3,10.3,0,0,0-2.4-1.81c-1.68-1-3.54-1.84-5.11-3a5.06,5.06,0,0,1-1.92-6,5.33,5.33,0,0,1,5.08-3.71,15.26,15.26,0,0,1,4.14.65c.76.18,1.41.55,2.1-.22C134.12,5.26,134.7,5.33,135.34,5.21Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M31.69,24.57H22c-.27-.77-.21-1.29.71-1.43,1.15-.18,1.57-.87,1.55-2.06-.07-3.34,0-6.68,0-10C24.25,9,24,8.78,22,8.62c-.3-.8-.14-1.24.78-1.56,1.56-.55,3.07-1.26,4.56-2s2.15-.3,2,1.37c-.09,1-.27,2.08-.46,3.48.54-.94.88-1.6,1.28-2.22,1.56-2.39,4.2-3.45,6.48-2.63a2.42,2.42,0,0,1,.9.5,2.62,2.62,0,0,1,.62.82,2.53,2.53,0,0,1,.06,2,2.28,2.28,0,0,1-3.38,1c-1.06-.61-2.05-1.45-3.34-.68a4.46,4.46,0,0,0-2.07,3.81c-.14,3,0,5.94,0,8.92a1.54,1.54,0,0,0,1.52,1.6C31.73,23.25,32,23.69,31.69,24.57Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M80.57,6.72V5.3h9.81c0,.46.07.84.1,1.31l-.71.14c-1.24.21-1.68.74-1.3,1.94.8,2.55,1.7,5.08,2.57,7.6a20.51,20.51,0,0,0,1.57,3.63c.34-1.08.7-2.16,1-3.25.69-2.21,1.36-4.43,2-6.64s.08-3.15-2.33-3.29a3,3,0,0,1-.53-.08V5.39h8.29V6.71c-2.49-.07-3.25,1.66-3.9,3.7-1.48,4.81-3.08,9.57-4.64,14.38H89.31q-2.57-7-5.14-14C84,10.16,83.73,9.6,83.52,9,83.07,7.64,82.29,6.65,80.57,6.72Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M143.5,0h2.26V5.29h4.12V6.78h-4.11V19.51c0,3.58.88,4.2,4.1,2.86.36,1-.16,1.57-1.05,1.95a7.33,7.33,0,0,1-4.64.42,4.5,4.5,0,0,1-3.47-4.6q-.11-5.92,0-11.85c0-1.15-.27-1.66-1.47-1.55-.2,0-.61-.39-.63-.64s.29-.75.48-.77C142.28,5.05,143.07,2.72,143.5,0Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M88.75,40.43H87.41V30.18c1.88-.43,1.89-.43,2.61,1.27.9,2.15,1.81,4.3,2.83,6.72,1-2.39,2-4.48,2.75-6.65.46-1.3,1.12-1.89,2.6-1.38V40.37c-.92.33-1.2,0-1.18-1a62.14,62.14,0,0,0-.24-7.22c-.15.3-.32.58-.44.88-.92,2.21-1.8,4.44-2.74,6.64-.14.32-.52.72-.77.71s-.63-.43-.76-.75c-.88-2.05-1.7-4.12-2.55-6.18a2.79,2.79,0,0,0-.76-1.12Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M129,40.42h-1.39V30.12a2,2,0,0,1,2.6,1c1.53,2.48,3.22,4.86,5,7.59V30.09l1.36-.1V40.37a1.92,1.92,0,0,1-2.52-1c-1.55-2.48-3.25-4.87-5.11-7.62Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M76.89,40.71a5.32,5.32,0,0,1-3.83-1.58,5.4,5.4,0,0,1-1.15-1.78,5.28,5.28,0,0,1-.36-2.08,5.34,5.34,0,0,1,5.53-5.54,5.25,5.25,0,0,1,5.43,5.59C82.49,38.55,80.24,40.71,76.89,40.71Zm4.2-5.44a4,4,0,0,0-4-4.33A4.11,4.11,0,0,0,73,35.13a4,4,0,0,0,.25,1.67,4.05,4.05,0,0,0,.89,1.44,4.24,4.24,0,0,0,1.4,1,4.09,4.09,0,0,0,1.66.32A4,4,0,0,0,81.09,35.27Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M123.3,40.37c-1.13.36-1.78,0-2-1-.24-1.3-1-1.68-2.28-1.5a4.09,4.09,0,0,1-1.21,0c-1.62-.24-2.71.2-3,2-.19,1-1,.63-1.78.61,1.5-3.4,2.93-6.7,4.41-10a.91.91,0,0,1,1.55-.09C120.45,33.67,121.86,37,123.3,40.37Zm-3.09-3.75-2-5c-.76,1.83-1.38,3.36-2.06,5Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M67.58,39a5.32,5.32,0,0,1-3.7,1.77A5.4,5.4,0,0,1,60,39.35a5.84,5.84,0,0,1-.23-8,5.22,5.22,0,0,1,1.71-1.19,5.27,5.27,0,0,1,4.1,0,5.19,5.19,0,0,1,1.73,1.15,4.41,4.41,0,0,1-.51.46l-.49.31c-2-1.53-4.09-1.44-5.53.23a4.75,4.75,0,0,0,0,6c1.59,1.65,3.64,1.63,5.75-.09Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M103.9,30c1.49,0,2.87-.06,4.23,0a2.57,2.57,0,0,1,2.65,2.61,2.63,2.63,0,0,1-2.31,3,10.6,10.6,0,0,1-1.69.13c-.51,0-1,0-1.64,0v4.56l-1.24.13Zm1.27,4.6c1,0,1.85.06,2.69,0a1.53,1.53,0,0,0,.59-.13,1.46,1.46,0,0,0,.5-.35,1.42,1.42,0,0,0,.32-.51,1.36,1.36,0,0,0,.1-.6,1.54,1.54,0,0,0-1.4-1.8,23.76,23.76,0,0,0-2.8,0Z"
                                            ></path><path
                                                class="cls-3"
                                                d="M140.92,30.12a1.73,1.73,0,0,1,2.33,1c.62,1.19,1.4,2.28,2.21,3.59L147.84,31c.65-1,.65-1,2.16-.9-.67,1-1.22,2-1.92,2.95a7.91,7.91,0,0,0-2,6.39c.13.81-.14,1.3-1.13,1-.55-1.74.49-3.75-.85-5.46C143,33.44,142,31.78,140.92,30.12Z"
                                            ></path></g
                                        ></svg
                                    >
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        width="150"
                                        height="29"
                                        viewBox="0 0 150 29"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M1.04487 13.1037H11.14C11.7172 13.1037 12.1849 12.636 12.1849 12.0588V1.96351C12.1849 1.38654 11.7172 0.918823 11.14 0.918823H1.04487C0.467911 0.918823 0 1.38654 0 1.96351V12.0588C0 12.636 0.467911 13.1037 1.04487 13.1037Z"
                                        ></path>
                                        <mask
                                            id="mask0_1130_78"
                                            style="mask-type:luminance"
                                            maskUnits="userSpaceOnUse"
                                            x="14"
                                            y="0"
                                            width="14"
                                            height="14"
                                        >
                                            <path
                                                d="M14.7061 0.498657H27.3111V13.1037H14.7061V0.498657Z"
                                            ></path>
                                        </mask>
                                        <g mask="url(#mask0_1130_78)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M21.0086 13.1037C24.4893 13.1037 27.3111 10.2819 27.3111 6.8012C27.3111 3.32047 24.4893 0.498657 21.0086 0.498657C17.5279 0.498657 14.7061 3.32047 14.7061 6.8012C14.7061 10.2819 17.5279 13.1037 21.0086 13.1037Z"
                                            ></path>
                                        </g>
                                        <mask
                                            id="mask1_1130_78"
                                            style="mask-type:luminance"
                                            maskUnits="userSpaceOnUse"
                                            x="0"
                                            y="15"
                                            width="13"
                                            height="14"
                                        >
                                            <path
                                                d="M0.42041 15.6248H12.6053V28.2298H0.42041V15.6248Z"
                                            ></path>
                                        </mask>
                                        <g mask="url(#mask1_1130_78)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M0.901067 15.6248H12.1247C12.3901 15.6248 12.6054 15.8526 12.6054 16.1338V21.7042C12.6054 25.3083 9.84643 28.2298 6.44309 28.2298C3.11684 28.2298 0.42041 25.3744 0.42041 21.852V16.1338C0.42041 15.8526 0.635677 15.6248 0.901067 15.6248Z"
                                            ></path>
                                        </g>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M15.6066 15.6248H21.2283C24.5876 15.6248 27.3109 18.442 27.3109 21.9173C27.3109 25.4036 24.5789 28.2298 21.2088 28.2298H21.0885C17.7955 28.2298 15.126 25.4682 15.126 22.0616V16.1219C15.126 15.8473 15.3413 15.6248 15.6066 15.6248Z"
                                        ></path>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M83.8237 26.1289C77.9157 26.1289 73.1094 21.2537 73.1094 15.2611V5.22267C73.1094 3.77388 74.2672 2.59949 75.6953 2.59949C77.1236 2.59949 78.2815 3.77388 78.2815 5.22267V15.2611C78.2815 18.361 80.7676 20.8827 83.8237 20.8827C86.8798 20.8827 89.3659 18.361 89.3659 15.2611V5.22267C89.3659 3.77388 90.5237 2.59949 91.9518 2.59949C93.3801 2.59949 94.5379 3.77388 94.5379 5.22267V15.2611C94.5379 21.2537 89.7316 26.1289 83.8237 26.1289Z"
                                        ></path>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M62.12 26.1289C60.6917 26.1289 59.534 24.9545 59.534 23.5059V13.4673C59.534 10.3676 57.0477 7.84565 53.9916 7.84565C50.9357 7.84565 48.4494 10.3676 48.4494 13.4673V23.5059C48.4494 24.9545 47.2916 26.1289 45.8633 26.1289C44.4352 26.1289 43.2773 24.9545 43.2773 23.5059V13.4673C43.2773 7.4749 48.0837 2.59949 53.9916 2.59949C59.8996 2.59949 64.7059 7.4749 64.7059 13.4673V23.5059C64.7059 24.9545 63.5483 26.1289 62.12 26.1289Z"
                                        ></path>
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M111.59 26.1289C110.847 26.1289 109.812 25.8382 109.103 24.453L100.657 6.5324C100.369 5.91828 100.343 5.27493 100.58 4.67056C100.812 4.07715 101.259 3.61753 101.908 3.30509C102.268 3.11568 102.641 3.01965 103.018 3.01965C103.272 3.01965 103.53 3.06391 103.782 3.151C104.406 3.3664 104.883 3.78136 105.2 4.38451L105.208 4.39974L111.543 18.1476L117.812 4.40096L117.821 4.38451C118.14 3.7773 118.634 3.36112 119.289 3.14755C119.549 3.06269 119.815 3.01965 120.081 3.01965C120.472 3.01965 120.866 3.11243 121.252 3.29555C121.893 3.58464 122.329 4.04812 122.549 4.673C122.766 5.2928 122.731 5.91767 122.444 6.53057L114.007 24.4339C113.376 25.8331 112.344 26.1289 111.59 26.1289Z"
                                        ></path>
                                        <mask
                                            id="mask2_1130_78"
                                            style="mask-type:luminance"
                                            maskUnits="userSpaceOnUse"
                                            x="126"
                                            y="2"
                                            width="24"
                                            height="25"
                                        >
                                            <path
                                                d="M126.891 2.59949H150V26.1289H126.891V2.59949Z"
                                            ></path>
                                        </mask>
                                        <g mask="url(#mask2_1130_78)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M138.465 7.50989C137.217 7.50989 136.103 7.80197 135.155 8.37761C134.204 8.95427 133.444 9.76617 132.896 10.7912C132.343 11.8235 132.063 13.0323 132.063 14.3841C132.063 15.7353 132.343 16.9363 132.894 17.954C133.443 18.9671 134.203 19.7733 135.155 20.3506C136.103 20.9264 137.217 21.2183 138.465 21.2183C139.712 21.2183 140.826 20.9264 141.775 20.3506C142.725 19.7741 143.478 18.9695 144.013 17.9595C144.553 16.9396 144.827 15.7367 144.827 14.3841C144.827 13.0308 144.553 11.8203 144.011 10.7859C143.476 9.76374 142.724 8.95346 141.775 8.37761C140.826 7.80197 139.712 7.50989 138.465 7.50989ZM138.465 26.1289C136.222 26.1289 134.209 25.6215 132.482 24.621C130.751 23.6195 129.371 22.2169 128.38 20.4525C127.392 18.6935 126.891 16.6517 126.891 14.3841C126.891 12.0907 127.392 10.0355 128.381 8.27552C129.371 6.51185 130.751 5.10949 132.482 4.10719C134.21 3.10672 136.223 2.59949 138.465 2.59949C140.68 2.59949 142.68 3.10672 144.409 4.10719C146.139 5.10949 147.519 6.51185 148.51 8.27531C149.499 10.0367 150 12.0919 150 14.3841C150 16.6495 149.506 18.69 148.532 20.4492C147.553 22.2153 146.18 23.6189 144.448 24.621C142.72 25.6217 140.707 26.1289 138.465 26.1289Z"
                                            ></path>
                                        </g>
                                    </svg>
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        id="Layer_1"
                                        data-name="Layer 1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 364.23 57.68"
                                        ><path
                                            d="M0,34.38c1.5-4,3.3-7.84,6.87-10.59,6.58-5.07,18.84-5.26,25.32-.22,4.17,3.25,4,5.69-.47,8.65-1.3.88-2.27.51-3.14-.72A36.29,36.29,0,0,0,25,26.78C19.66,21.43,12.11,23,9.27,29.87a17.3,17.3,0,0,0,1.8,17c3.44,5.17,8.82,5.5,14.26,4.68,2.4-.36,4.66-1.62,7-2.5.74-.29,1.44-.67,2.16-1l.62.44a10.89,10.89,0,0,1-1.17,2.59c-4.72,5.79-11.17,7.31-18.15,6.37C7.39,56.31,2.3,51.16.49,42.93A5.44,5.44,0,0,0,0,41.82Z"
                                        ></path><path
                                            d="M174.72,25.39c3.44-1.72,6.6-3.79,10.08-4.87,2.39-.74,5.26-.42,7.84,0,3.07.47,3.85,1.49,6.23,5.76,1.72-1.25,3.37-2.63,5.18-3.74a16.84,16.84,0,0,1,13.16-2.05c3.46.83,5.59,3.08,5.93,6.51.41,4,.39,8.06.48,12.1.07,3.55,0,7.1.06,10.66,0,3.15.75,4,3.91,4.7a3.78,3.78,0,0,1,1.2.3A11.65,11.65,0,0,1,230.24,56c-.54.36-1.08,1-1.63,1-4.57.08-9.14.05-13.72.05a11.38,11.38,0,0,1-2.48-.05,6.14,6.14,0,0,1-1.69-1c.41-.44.74-1.07,1.25-1.27,3.81-1.58,3.84-1.56,3.83-5.53,0-5.53.07-11.06-.05-16.59-.14-6.8-3.8-9.21-10.19-6.65a21.94,21.94,0,0,0-5.23,3.27,3.65,3.65,0,0,0-1.07,2.55c-.1,5.69-.08,11.39,0,17.09,0,3.73,1.1,5,4.75,5.83a16.18,16.18,0,0,1,2.27.89l0,.82a12,12,0,0,1-2.63.64c-5.24.06-10.48.07-15.72,0-.74,0-1.48-.63-2.23-1,.63-.48,1.19-1.2,1.9-1.4,3.25-.91,4-1.58,4.05-5,0-6.36-.05-12.72-.34-19.07-.19-4.13-3.1-6.21-7.16-5.5a17.1,17.1,0,0,0-3.59,1c-5,2-5.71,3.17-5.69,8.43,0,4.87,0,9.74.08,14.61.05,3.93.55,4.48,4.23,5.57.63.18,1.1.92,1.64,1.4-.59.3-1.19.87-1.79.88-5.57.07-11.15.08-16.72,0-.62,0-1.24-.71-1.86-1.09.53-.4,1-1,1.58-1.18,4.88-1.19,5.14-1.41,5.24-6.49.08-4.87-.08-9.74.08-14.61.11-3.53-1.12-6-4.42-7.55a8.93,8.93,0,0,1-2-1.89,11.8,11.8,0,0,1,2.42-1.44c2.93-.91,5.92-1.61,8.85-2.51,2.06-.63,2.8.06,2.62,2.1C174.65,23.43,174.72,24.51,174.72,25.39Z"
                                        ></path><path
                                            d="M311.73,57.41c-.08-1.72-.14-2.85-.21-4.44-.87.51-1.53.88-2.17,1.29-5.85,3.77-12,4.29-18.23,1.22S282,46.7,281.69,40c-.83-16.62,13.83-23.24,26.87-19.27.84.26,1.67.58,2.61.91,0-4,.42-7.81-.2-11.45-.27-1.58-2.71-2.79-4.17-4.17l-1.71-1.59a7.58,7.58,0,0,1,2-1.49c3-.93,6.07-1.7,9.12-2.51C319-.34,319.4,0,319.39,2.92q-.09,20.06-.22,40.13c0,1.07,0,2.15,0,3.22.15,3.35.91,4.21,4.15,5.3a8.74,8.74,0,0,1,2.17,1.6,9,9,0,0,1-2.18,1.32C319.6,55.5,315.84,56.39,311.73,57.41Zm-.27-17.32h-.21c0-2.47.12-5,0-7.41a9.68,9.68,0,0,0-7.46-9.07,9.83,9.83,0,0,0-11.25,4.3c-3.44,5.39-3.12,11.18-1.19,16.88,2.43,7.16,10,9.89,16.86,6.41,2.28-1.17,3.61-2.69,3.32-5.43A53.75,53.75,0,0,1,311.46,40.09Z"
                                        ></path><path
                                            d="M54.3,24.8c3.88-1.67,7.63-3.48,11.54-4.87A11.8,11.8,0,0,1,71,19.7c5.45.67,8.13,3.61,8.24,9.07.14,6.52.09,13.05.12,19.57,0,4.42.58,5,4.88,6,.7.16,1.26,1,1.89,1.47a6.26,6.26,0,0,1-2,.84c-5.4.07-10.81.08-16.22,0-.71,0-1.41-.66-2.12-1,.59-.45,1.13-1.13,1.79-1.29,3.35-.83,4-1.47,4-4.89,0-5.94,0-11.89-.08-17.83-.08-5.37-2.73-7.74-8-6.58-2.82.62-5.48,2.2-8.05,3.62a3.59,3.59,0,0,0-1.15,2.73c-.09,6.11-.06,12.22,0,18.33,0,3.05.8,3.78,3.78,4.61a8,8,0,0,1,2.17,1.51,8.23,8.23,0,0,1-2.37.81c-5.32.07-10.64.08-16,0-.71,0-1.4-.69-2.09-1.06.6-.43,1.14-1.11,1.81-1.25,4.37-1,4.82-1.47,4.83-6,0-11.65,0-23.29.08-34.93,0-3.48-1.27-5.83-4.38-7.34-.73-.35-1.22-1.17-1.82-1.78a7.67,7.67,0,0,1,2-1.45C45.5,1.9,48.65,1.15,51.76.28c1.91-.54,2.73-.1,2.68,2.07-.13,6.77-.11,13.54-.14,20.31C54.29,23.52,54.3,24.39,54.3,24.8Z"
                                        ></path><path
                                            d="M263.37,53.2c-.45.25-1,.47-1.41.77-6.11,4.07-12.52,4.7-19.06,1.28S234,45.88,233.78,39c-.5-14.09,13-23.08,27.06-18.17a20.4,20.4,0,0,1,4.08,1.8c1.8,1.14,3,1.15,3.69-1.12.06-.24.11-.55.29-.67.57-.39,1.19-.7,1.79-1,.27.56.77,1.11.78,1.67,0,1.4-.21,2.8-.21,4.2,0,6.68-.05,13.37,0,20.05,0,3.82.93,4.85,4.64,5.94a9.13,9.13,0,0,1,2,1.16c-.64.53-1.2,1.31-1.94,1.53-3,.92-6.07,1.67-9.11,2.47s-3.11.61-3.13-2.37a7.93,7.93,0,0,0-.08-1C263.61,53.45,263.53,53.39,263.37,53.2Zm.29-12.77h.12a85,85,0,0,0-.47-8.62A9.54,9.54,0,0,0,255,23.45a9.89,9.89,0,0,0-11,5.42c-2.5,4.74-2.29,9.69-1,14.68,2.21,8.25,10.36,11.54,17.81,7.28,1.9-1.09,3-2.37,2.8-4.72A53.77,53.77,0,0,1,263.66,40.43Z"
                                        ></path><path
                                            d="M97.89,35.6c.45,6.76,2.24,12.38,8.81,14.93,6.17,2.38,11.84.46,17.16-3.15l.48.59a9.54,9.54,0,0,1-.81,2.23c-3.25,4.91-8.11,6.76-13.79,7.17-8.41.62-16.07-4.12-18.6-11.63C88,36.3,90.64,27,98.22,22.57a20.92,20.92,0,0,1,19.38-1.4,11.17,11.17,0,0,1,6.88,12c-.29,1.85-1.07,2.5-2.92,2.48-6.91-.07-13.81,0-20.72,0Zm.63-3.66c5.42,0,10.63,0,15.84,0,1.46,0,1.9-.65,1.84-1.95a7.7,7.7,0,0,0-6.08-6.61C104.39,22.61,99.72,26,98.52,31.94Z"
                                        ></path><path
                                            d="M144.12,20.42H156c.1,3.24-.16,3.52-3.05,3.53s-5.62,0-8.45,0c0,8.47-.15,16.7.07,24.93.09,3.45,1.27,4.34,4.67,5.13a4.72,4.72,0,0,1,1.21.24c.77.42,1.48,1,2.21,1.43a7.85,7.85,0,0,1-2.48.93c-4.74.09-9.48,0-14.23,0-1.5,0-3,.07-4.49,0-.53,0-1-.57-1.54-.87.46-.48.84-1.12,1.4-1.4a8.9,8.9,0,0,1,2.17-.47,3.54,3.54,0,0,0,3.18-3.81q.06-11.52.09-23a3.36,3.36,0,0,0-2.91-3.72,13.87,13.87,0,0,1-2.64-.7c-.51-.23-.87-.82-1.3-1.25.49-.31.95-.84,1.47-.91,1.62-.22,3.78.32,4.75-.54s.78-3,1.1-4.64A18.71,18.71,0,0,1,161.65,1l1.19.37c3.93,1.36,4.71,5,1.53,7.81a3.27,3.27,0,0,1-2.82.2c-2.14-.87-4.13-2.11-6.23-3.1C150,3.72,145.6,5.9,144.7,11.67,144.27,14.41,144.32,17.23,144.12,20.42Z"
                                        ></path><path
                                            d="M337.93,35.6c-1.09,11.29,9.09,18.9,19.54,14.95,1.39-.53,2.63-1.41,4-2a9.34,9.34,0,0,1,2.14-.43,6.13,6.13,0,0,1-.52,2.21c-3.31,4.64-8,6.65-13.62,7-8.62.59-16.33-4.3-18.82-12-2.95-9.16-.06-18.65,7.43-22.85,6.4-3.6,13.24-4.19,20-.87a11.09,11.09,0,0,1,6,11.51c-.24,1.87-1,2.53-2.9,2.51-6.89-.07-13.79,0-20.69,0Zm.22-3.66c5.42,0,10.65,0,15.89,0,1.5,0,1.84-.75,1.77-2a7.55,7.55,0,0,0-6.17-6.56C344,22.68,339.4,26,338.15,31.94Z"
                                        ></path></svg
                                    >
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        id="Layer_1"
                                        data-name="Layer 1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 358.04 79.29"
                                        ><path
                                            d="M0,56.57c.31-1.24.62-2.48.92-3.72A34,34,0,0,1,8.1,38.92a10.39,10.39,0,0,1,6.81-3.45,105.79,105.79,0,0,1,15.91-.85c1.67,0,2.39,1,1.75,2.56-1.56,3.73-3.13,7.46-4.88,11.09-3.27,6.79-6.65,13.53-10,20.26A9.51,9.51,0,0,1,6,73.31a7.8,7.8,0,0,1-4.65-4.93C.86,67,.44,65.66,0,64.3Z"
                                        ></path><path
                                            d="M308.81,0c0,.34,0,.67,0,1q0,21.65,0,43.3a17,17,0,0,0,.13,2c.35,2.89,2.41,4.18,5.41,3.5a22.43,22.43,0,0,0,3.47-1.39c0,1.15,0,2.41,0,3.67a17.84,17.84,0,0,1-.35,3.1,1.68,1.68,0,0,1-.88,1.13,16.51,16.51,0,0,1-12.13-.53,7.26,7.26,0,0,1-4.25-5.56,32.42,32.42,0,0,1-.56-5.47q-.06-22.38,0-44.77Z"
                                        ></path><path
                                            d="M34,52.79c0-4.88,0-9.76,0-14.64a4.94,4.94,0,0,1,3.09-4.63C44.26,30.2,51.49,27,58.64,23.58A48.67,48.67,0,0,1,69.4,19.66a7.67,7.67,0,0,1,9.07,5.22c2.32,7.49,1.41,14.68-1.81,21.74-2.59,5.67-6.39,10.43-10.54,15a53.5,53.5,0,0,1-13.6,10.9A19.16,19.16,0,0,1,39.42,75a6.29,6.29,0,0,1-5.25-5.92c-.22-5.43-.37-10.86-.55-16.29Z"
                                        ></path><path
                                            d="M129.4,38.35V1.3H137c1.1,0,1.23.13,1.24,1.2,0,1.32,0,2.64,0,4V54.84c0,1.48,0,1.5-1.48,1.5-1.79,0-3.57,0-5.36,0a1.94,1.94,0,0,1-1.87-1.05q-12-19.38-24-38.74a1.85,1.85,0,0,0-.64-.64V56.21h-9V1.3c2.55,0,5,.13,7.51,0a3.74,3.74,0,0,1,3.89,2.13c7,11.33,14,22.58,21,33.85.26.41.54.8.82,1.19Z"
                                        ></path><path
                                            d="M222.94,22.32c.64-.72,1.2-1.39,1.81-2,4.13-4.34,9.18-5.8,14.87-4.18,4.9,1.39,7.52,5.15,8.19,10a72.68,72.68,0,0,1,.24,9.46q.1,9.81.18,19.62v.89h-9V55c0-7.64,0-15.29,0-22.93a22.15,22.15,0,0,0-.57-4.65c-.74-3.26-4-5.08-7.54-4.38A9,9,0,0,0,225.92,26a6.2,6.2,0,0,0-1.69,4.32c.07,8.23,0,16.46,0,24.69V56.2h-9v-1q0-12.26,0-24.5a10,10,0,0,0-1.3-5,5.29,5.29,0,0,0-5.18-2.71A8.66,8.66,0,0,0,201,27.81a4,4,0,0,0-.37,1.85c0,8.45,0,16.89,0,25.33v1.13h-8.91V16.54h4.78c1,0,2,0,3,0,.83,0,1.09.31,1.06,1.08-.05,1,0,2,0,3.17a14.23,14.23,0,0,1,11.79-5.23A11.66,11.66,0,0,1,222.94,22.32Z"
                                        ></path><path
                                            d="M318.71,16.59c3,0,5.88,0,8.74,0,.71,0,.91.46,1.11,1,1.89,5.28,3.78,10.55,5.71,15.81,1.3,3.54,2.67,7,4,10.56.09.23.19.44.37.85.36-1,.68-1.73,1-2.52q4.45-12.4,8.89-24.82a1.4,1.4,0,0,1,1.54-1.1c2.61,0,5.22,0,8,0-.54,1.46-1,2.84-1.55,4.18q-8,19.86-16,39.71a25.7,25.7,0,0,1-5.73,8.81c-3.35,3.31-7.5,4.44-12.07,4.11a56.77,56.77,0,0,1-5.89-1c.26-2.69.49-5.12.73-7.67l1.83.74a8.83,8.83,0,0,0,11.95-4.54c.73-1.55,1.41-3.13,2.14-4.68a2.78,2.78,0,0,0,0-2.39Q327.53,39,321.66,24.25c-.86-2.13-1.69-4.27-2.53-6.41C319,17.48,318.88,17.1,318.71,16.59Z"
                                        ></path><path
                                            d="M157.69,37.89c.41,4.42,1.84,8.16,5.72,10.57a13.44,13.44,0,0,0,8.33,1.76,17,17,0,0,0,9.69-3.49c.19,1.41.38,2.69.53,4,.1.85.19,1.71.21,2.56,0,1.44-.18,1.79-1.61,2.12-2.63.6-5.27,1.25-7.94,1.6a23.65,23.65,0,0,1-11.19-1c-7.29-2.6-11.41-7.81-12.63-15.36a26.27,26.27,0,0,1,1.11-13.86c3.06-8,9.86-11.69,18.09-11.2a14.94,14.94,0,0,1,9.3,3.5,14.44,14.44,0,0,1,4.48,7.65A28.79,28.79,0,0,1,182.61,37c-.07.77-.39.93-1.11.93q-11.34,0-22.7,0Zm.18-6.07h16.46c-.19-1.36-.27-2.66-.56-3.9a7.28,7.28,0,0,0-10.49-4.85C159.89,24.76,157.57,28.48,157.87,31.82Z"
                                        ></path><path
                                            d="M290.85,37.84h-25c.43,6.8,4.07,11.52,10.57,12.32a18.17,18.17,0,0,0,12.49-2.75,4.74,4.74,0,0,1,.68-.3c.29,2.46.61,4.82.83,7.18a1.41,1.41,0,0,1-.62,1.15c-5.85,2-11.83,3.11-18,1.84a18.73,18.73,0,0,1-14.87-15.55,28.23,28.23,0,0,1,.67-13.27c2.1-6.92,6.74-10.95,13.87-12.24a17.16,17.16,0,0,1,11.19,1.53,13.82,13.82,0,0,1,7.65,11.41C290.62,32,290.67,34.83,290.85,37.84Zm-25-6h16.54c-.13-.91-.24-1.76-.36-2.61a8,8,0,0,0-2.93-5.63c-3.12-2.33-7.67-1.72-10.57,1.39C266.72,26.89,266.17,29.27,265.85,31.82Z"
                                        ></path><path
                                            d="M53,.43a41.05,41.05,0,0,1,4.24.89A3.26,3.26,0,0,1,59.26,6a19.11,19.11,0,0,1-4,5.68Q46.13,21.45,37,31.16a32.46,32.46,0,0,1-2.41,2.28,2,2,0,0,1-3.09-.17q-4.55-4.83-9-9.7a3.46,3.46,0,0,1-.4-4.18C25.4,13.28,30.42,8.9,36.43,5.54c3.55-2,7.15-3.82,11.22-4.48C49.28.79,50.94.66,53,.43Z"
                                        ></path><path
                                            d="M131.38,70.19c-.49.93-1,1.87-1.46,2.81-.72,1.38-1.39,2.8-2.18,4.14a2,2,0,0,1-1.23.89c-.25,0-.74-.51-.93-.88-1.1-2.32-2.15-4.67-3.42-7V79H120a6,6,0,0,1,0-.75l.21-11.59c0-.41-.12-.9.52-1s1.11-.12,1.43.52c.61,1.23,1.25,2.46,1.87,3.68l2.79,5.5.69-1.38c1.22-2.44,2.49-4.86,3.63-7.33a1.5,1.5,0,0,1,2.11-.91c.11,4.38.22,8.79.33,13.27h-1.91V70.27Z"
                                        ></path><path
                                            d="M114.66,72.59l3.65,6c-1.35.76-2,.59-2.67-.48s-1.35-2.33-2.1-3.45a2.63,2.63,0,0,0-3.14-1v5.26h-1.91V65.49a12.89,12.89,0,0,1,6.69.87c2.07,1,2.18,4.26.3,5.69A8.07,8.07,0,0,1,114.66,72.59Zm-4.19-5.48V72c1.08-.19,2.09-.31,3-.57a2,2,0,0,0,1.39-2,2,2,0,0,0-1.51-1.87C112.45,67.3,111.48,67.23,110.47,67.11Z"
                                        ></path><path
                                            d="M196.38,75.4c.52-1.69,1.08-3.38,1.56-5.09.18-.66.57-.66,1.09-.65s.91,0,1.1.64c.49,1.77,1.08,3.51,1.69,5.44a6.41,6.41,0,0,0,.31-.66c.45-1.49.88-3,1.33-4.49s.45-1.48,2.21-1.19c-.52,1.64-1,3.27-1.55,4.9-.39,1.25-.82,2.5-1.2,3.76-.16.55-.39,1-1,1s-.82-.52-1-1c-.58-1.74-1.15-3.48-1.73-5.22h-.26c-.22.63-.45,1.27-.64,1.91-.36,1.17-.66,2.36-1.07,3.51a.92.92,0,0,1-1.78.12c-1-2.92-1.93-5.87-2.88-8.81,0-.05,0-.12,0-.17,1.51-.19,1.66-.1,2.11,1.32q.75,2.37,1.48,4.72Z"
                                        ></path><path
                                            d="M226.7,78.79H225V75c0-.77,0-1.54,0-2.3,0-1.31-.72-2.16-1.75-2.18a2.32,2.32,0,0,0-2.43,2.23c0,1.71,0,3.43,0,5.15v1H219V65.29h1.75v4.42c.84-.19,1.53-.37,2.23-.51,2.37-.5,3.83.7,3.82,3.12,0,2.08,0,4.17,0,6.25C226.79,78.63,226.75,78.68,226.7,78.79Z"
                                        ></path><path
                                            d="M105.52,76.61c.58,1.55.44,2-1,2.34a7.22,7.22,0,0,1-6.18-.81,3.36,3.36,0,0,1-1.18-1.25,9.44,9.44,0,0,1,.06-8.74,5.77,5.77,0,0,1,7.54-2.3l1.23.56L105.5,68c-.66-.28-1.24-.55-1.84-.77a3.87,3.87,0,0,0-5.12,2.71,9.31,9.31,0,0,0-.18,4.54,4.1,4.1,0,0,0,5.82,2.83C104.62,77.1,105,76.86,105.52,76.61Z"
                                        ></path><path
                                            d="M163.55,79c-.72,0-1.47.37-1.75-.66a4.2,4.2,0,0,1-3.67.78,2.69,2.69,0,0,1-2-2.24,2.77,2.77,0,0,1,1-2.78,6,6,0,0,1,3.49-1.25l1.06-.13c-.1-2-1.34-2.35-4.74-1.23-.66-1.38-.49-1.7,1-2.14a4.82,4.82,0,0,1,3.58,0,3.28,3.28,0,0,1,2.1,3.17C163.56,74.61,163.55,76.75,163.55,79Zm-1.8-5.16A24.6,24.6,0,0,0,158.83,75a1.71,1.71,0,0,0-.77,1.27,1.73,1.73,0,0,0,.83,1.27A2.15,2.15,0,0,0,161.73,76,13.36,13.36,0,0,0,161.75,73.79Z"
                                        ></path><path
                                            d="M239.42,78.21a4.58,4.58,0,0,1-4,.83,2.53,2.53,0,0,1-1.85-2.28c0-2.45,0-4.9,0-7.41h1.77c0,2,0,4,0,6,0,1.47.58,2.22,1.8,2.26a2.2,2.2,0,0,0,2.33-2.29c0-2,0-3.92,0-5.86,1.6-.48,1.94-.25,2,1.33q0,3.49,0,7c0,.44.28,1-.46,1.21S239.67,79.08,239.42,78.21Z"
                                        ></path><path
                                            d="M140.37,77.19c1.12.19,2.22.42,3.32.57a1.14,1.14,0,0,0,1.37-.83,1.23,1.23,0,0,0-.83-1.46c-.78-.36-1.57-.69-2.34-1.08a2.71,2.71,0,0,1-1.62-3,2.76,2.76,0,0,1,2.62-2.3,9.89,9.89,0,0,1,2.55.13c1.32.26,1.41.59.71,1.86-.87-.14-1.74-.29-2.62-.42-.53-.08-1.05-.1-1.25.59a1.1,1.1,0,0,0,.64,1.44c.8.38,1.61.75,2.41,1.14a2.57,2.57,0,0,1,1.75,2.63,2.61,2.61,0,0,1-2.29,2.61,12.6,12.6,0,0,1-3.47,0C140.06,79,139.93,78.54,140.37,77.19Z"
                                        ></path><path
                                            d="M243.68,77.07c1.14.19,2.17.39,3.21.51a1.65,1.65,0,0,0,1-.29c.9-.52.91-1.34,0-1.84s-1.65-.81-2.49-1.2a2.51,2.51,0,0,1-1.68-2.58,2.64,2.64,0,0,1,2.07-2.41,5.3,5.3,0,0,1,3.6.15c.51.21.73.49.54,1.06s-.44.73-1,.56a6.76,6.76,0,0,0-2-.35,1.61,1.61,0,0,0-1.18.62,1.25,1.25,0,0,0,.41,1.11,17.63,17.63,0,0,0,2.49,1.36,2.64,2.64,0,0,1,1.84,2.67A2.56,2.56,0,0,1,248,79a8.61,8.61,0,0,1-2.91,0C243.16,78.59,243.33,78.36,243.68,77.07Z"
                                        ></path><path
                                            d="M181.83,71.79A9,9,0,0,0,183.18,73a17.75,17.75,0,0,0,2.27,1,2.26,2.26,0,0,1,1.37,2.37,2.33,2.33,0,0,1-1.36,2.4,6.07,6.07,0,0,1-4.75,0c-.8-.3-.86-.8-.31-1.89a18.49,18.49,0,0,0,2.14.71,2.21,2.21,0,0,0,1.42-.12,2.17,2.17,0,0,0,1-1.13c.07-.24-.49-.79-.87-1-.79-.45-1.65-.79-2.49-1.17a2.33,2.33,0,0,1-1.54-2.28,2.44,2.44,0,0,1,1.54-2.4,5,5,0,0,1,4-.06c.44.17.87.34.6,1s-.45.85-1.09.59a8.93,8.93,0,0,0-.9-.17A2,2,0,0,0,181.83,71.79Z"
                                        ></path><path
                                            d="M172.64,69.35l1.32-.06c.29-2,.54-2.31,2-2.39v2.42h2.56v1.41h-2.48v3.65c0,.55,0,1.1,0,1.66s-.16,1.36.57,1.59a6.84,6.84,0,0,0,1.94,0c.32.88,0,1.38-1.16,1.51-2.21.24-3.25-.63-3.31-2.85,0-1.81,0-3.62,0-5.43,0,0,0-.05-.1-.14l-1.32-.09Z"
                                        ></path><path
                                            d="M149.89,70.76l-1.38-.06V69.45l1.28-.12c.17-1.81.5-2.24,1.89-2.42v2.52h2.76v1.38h-3c.14,2.17.24,4.21.46,6.23,0,.3.66.67,1.06.74a4.67,4.67,0,0,0,1.5-.2c0,1.59,0,1.64-1.5,1.64h-.55c-2,0-2.8-1-2.64-3,.13-1.62.12-3.25.16-4.87A4.84,4.84,0,0,0,149.89,70.76Z"
                                        ></path><path
                                            d="M212.54,70.77l-1.35-.08V69.45l1.23-.14c.21-2,.41-2.21,1.88-2.36v2.39H217v1.45h-2.83c.17,2.21.29,4.27.51,6.33.06.61,1,.9,1.77.62a4,4,0,0,0,.55-.33c.15,1.56,0,1.76-1.54,1.8-2,.06-3.07-1.1-2.91-3.11.08-1,.1-2,.1-3C212.64,72.33,212.58,71.6,212.54,70.77Z"
                                        ></path><path
                                            d="M168,78.89h-1.6V69.36c.74-.23,1.49-.49,1.72.75a3.92,3.92,0,0,1,3.25-1c.36,1.42.23,1.64-1.15,1.87A2.5,2.5,0,0,0,168,73.62C168,75.36,168,77.1,168,78.89Z"
                                        ></path><path
                                            d="M207.26,78.89V69.34H209c0,.31,0,.63,0,1v7.18C209.07,79.12,209.07,79.12,207.26,78.89Z"
                                        ></path><path
                                            d="M253.56,76.5a1.35,1.35,0,1,1-1.22,1.4A1.19,1.19,0,0,1,253.56,76.5Z"
                                        ></path><path
                                            d="M208.22,67.82A1.15,1.15,0,0,1,207,66.64a1.2,1.2,0,0,1,1.14-1.29,1.12,1.12,0,0,1,1.18,1.21C209.3,67.28,209.07,67.81,208.22,67.82Z"
                                        ></path></svg
                                    >
                                </li>
                                <li class="swiper-slide">
                                    <svg
                                        width="150"
                                        height="19"
                                        viewBox="0 0 150 19"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M0.25 18.8643L8.3 0.989257H14.475L22.525 18.8643H18.175L16.475 15.0893H6.3L4.6 18.8643H0.25ZM7.75 11.8393H15.025L11.55 4.11426H11.225L7.75 11.8393ZM24.5283 18.8643V0.989257H28.5283V18.8643H24.5283ZM49.9637 18.9893C46.6637 18.9893 44.1387 18.2309 42.3887 16.7143C40.6387 15.1809 39.7637 12.9143 39.7637 9.91426C39.7637 6.93092 40.6387 4.67259 42.3887 3.13926C44.1387 1.60592 46.6637 0.847591 49.9637 0.864257L58.9637 0.914256V4.11426H50.2387C48.072 4.11426 46.4637 4.57259 45.4137 5.48926C44.3637 6.40592 43.8387 7.88092 43.8387 9.91426C43.8387 11.9476 44.3637 13.4309 45.4137 14.3643C46.4637 15.2809 48.072 15.7393 50.2387 15.7393H59.2137V18.9893H49.9637ZM60.2109 18.8643L68.2609 0.989257H74.4359L82.4859 18.8643H78.1359L76.4359 15.0893H66.2609L64.5609 18.8643H60.2109ZM67.7109 11.8393H74.9859L71.5109 4.11426H71.1859L67.7109 11.8393ZM83.9143 18.9893V15.7393L98.2893 15.7643C99.0226 15.7643 99.5809 15.5976 99.9643 15.2643C100.364 14.9143 100.564 14.3559 100.564 13.5893C100.564 12.8226 100.364 12.2726 99.9643 11.9393C99.5809 11.5893 99.0226 11.4143 98.2893 11.4143H89.3393C87.4893 11.4143 86.0476 10.9726 85.0143 10.0893C83.9976 9.18926 83.4893 7.87259 83.4893 6.13926C83.4893 4.40592 83.9976 3.09759 85.0143 2.21426C86.0476 1.31426 87.4893 0.864257 89.3393 0.864257H103.389V4.11426L89.7643 4.08926C89.0476 4.08926 88.4893 4.25592 88.0893 4.58926C87.6893 4.90592 87.4893 5.42259 87.4893 6.13926C87.4893 6.85592 87.6893 7.38092 88.0893 7.71426C88.4893 8.03092 89.0476 8.18926 89.7643 8.18926H98.7143C100.564 8.18926 101.998 8.64759 103.014 9.56426C104.048 10.4643 104.564 11.8059 104.564 13.5893C104.564 15.3559 104.048 16.6976 103.014 17.6143C101.998 18.5309 100.564 18.9893 98.7143 18.9893H83.9143ZM107.072 18.8643V0.989257H126.672V4.23926H111.072V8.18926H125.222V11.4393H111.072V15.6143H126.672V18.8643H107.072ZM128.836 18.9893V15.7393L143.211 15.7643C143.944 15.7643 144.503 15.5976 144.886 15.2643C145.286 14.9143 145.486 14.3559 145.486 13.5893C145.486 12.8226 145.286 12.2726 144.886 11.9393C144.503 11.5893 143.944 11.4143 143.211 11.4143H134.261C132.411 11.4143 130.969 10.9726 129.936 10.0893C128.919 9.18926 128.411 7.87259 128.411 6.13926C128.411 4.40592 128.919 3.09759 129.936 2.21426C130.969 1.31426 132.411 0.864257 134.261 0.864257H148.311V4.11426L134.686 4.08926C133.969 4.08926 133.411 4.25592 133.011 4.58926C132.611 4.90592 132.411 5.42259 132.411 6.13926C132.411 6.85592 132.611 7.38092 133.011 7.71426C133.411 8.03092 133.969 8.18926 134.686 8.18926H143.636C145.486 8.18926 146.919 8.64759 147.936 9.56426C148.969 10.4643 149.486 11.8059 149.486 13.5893C149.486 15.3559 148.969 16.6976 147.936 17.6143C146.919 18.5309 145.486 18.9893 143.636 18.9893H128.836Z"
                                        ></path>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="work" class="work">
                <div class="work__container container">
                    <div class="work__content work__content-col1">
                        <div class="work__data">
                            <h2 class="work__title title">PROJECTS</h2>
                            <p class="work__subtitle subtitle">
                                Take a look at my works
                            </p>
                        </div>
                        {
                            works1.map((project, index) => (
                                <Project
                                    title={project.title}
                                    category={project.tag}
                                    image={project.image}
                                />
                            ))
                        }
                    </div>
                    <div class="work__content work__content-col2">
                        {
                            works2.map((project, index) => (
                                <Project
                                    title={project.title}
                                    category={project.tag}
                                    image={project.image}
                                />
                            ))
                        }
                        <div class="work__content__cta">
                            <p class="cta__title">Like what you see?</p>
                            <a href="./works" class="btn">Discover more</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="#about" class="about">
                <div class="about__background">
                    <div class="about__container container">
                        <div class="about__jafar">
                            <div class="about__jafar__title">
                                <h2>About</h2>
                            </div>
                            <div class="about__jafar__content">
                                <div class="summary">
                                    <div class="split-word">
                                        I am Jafar Khan, a freelance web
                                        designer and developer with over 5 years
                                        of experience.
                                    </div>
                                </div>
                                <p class="description">
                                    Since 2020, I've brought more than 200
                                    projects to life, creating modern,
                                    interactive, and high-performance websites
                                    for clients across the globe. My priority is
                                    client satisfaction, delivering
                                    high-quality, tailored solutions that align
                                    with their vision. My 5-star average rating
                                    across marketplaces reflects to my
                                    dedication to quality, client satisfaction,
                                    and delivering exceptional results. Whether
                                    you are starting from scratch or elevating
                                    an existing site, I'm here to craft a web
                                    experience that's as unique as your vision.
                                </p>
                                <a href="#work" class="btn">View my work</a>
                            </div>
                        </div>
                        <div class="about__skills">
                            <div class="about__skills__title">
                                <h2>Skills</h2>
                            </div>
                            <div class="about__skills__content">
                                <ul class="skill__block">
                                    <li class="skill__item">HTML</li>
                                    <li class="skill__item">CSS</li>
                                    <li class="skill__item">SCSS</li>
                                    <li class="skill__item">JavaScript</li>
                                    <li class="skill__item">React JS</li>
                                    <li class="skill__item">Vue Js</li>
                                </ul>
                                <ul class="skill__block">
                                    <li class="skill__item">Astro JS</li>
                                    <li class="skill__item">GSAP</li>
                                    <li class="skill__item">WordPress CMS</li>
                                    <li class="skill__item">Git</li>
                                    <li class="skill__item">Figma</li>
                                    <li class="skill__item">PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="cta">
                <div class="container cta__container">
                    <div class="cta__content">
                        <h2 class="cta__title cta__title--small">Let's</h2>
                        <div class="cta__title-wrapper">
                            <h2 class="cta__title cta__title--big">BUILD</h2>
                            <a href="./contact">
                                <Spinner client:load />
                            </a>
                            <h2 class="cta__title cta__title--big">GREAT</h2>
                        </div>
                        <h2 class="cta__title cta__title--small">
                            Things Together
                        </h2>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="../code/preloader.js"></script>
    <script src="../code/logoslider.js"></script>
</Layout>

<style lang="scss">
    @use "../styles/utils" as responsive;

    .intro {
        position: fixed;
        z-index: 9999;
        background-color: var(--color-bg-dark);
        width: 100%;
        height: 100vh;
        top: 0;
        overflow: hidden;
        transition: 1s;

        &__text {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 50%;
            top: 50%;
            font-size: 4rem;
            text-transform: uppercase;
            transform: translate(-50%, -50%);
            span {
                position: relative;
                display: inline-block;
                bottom: -20px;
                opacity: 0;
            }

            span.active {
                opacity: 1;
                bottom: 0;
                transition: ease-in-out 0.5s;
            }

            span.fadeOut {
                opacity: 0;
                bottom: 150px;
                transition: ease-in-out 0.5s;
            }
        }
    }

    main {
        position: relative;
        z-index: 2;
        pointer-events: none;
    }
    .page-wrapper {
        --round: clamp(3.75rem, -0.116rem + 16.279vw, 12.5rem);
        position: relative;
        background-color: var(--color-bg-dark);
        border-radius: 0 0 var(--round) var(--round);
        z-index: 2;
        overflow: hidden;
        pointer-events: all;
    }
    .hero {
        background-color: var(--color-bg-dark);
        &__container {
            flex-flow: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding-top: var(--space-xl);
            padding-bottom: var(--space-xl);
        }
        &__image {
            img {
                max-width: 95%;
                height: auto;
                display: block;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                margin-inline: auto;
                user-select: none;
                pointer-events: none;
            }
        }

        &__data {
            .hero__title {
                text-align: center;
                text-transform: uppercase;
            }

            .hero__subtitle {
                text-align: center;
            }
        }
    }

    .partners {
        &__content {
            width: 100%;
            overflow: hidden;
            .swiper {
                -webkit-mask: linear-gradient(
                    90deg,
                    transparent,
                    white 20%,
                    white 80%,
                    transparent
                );
                mask: linear-gradient(
                    90deg,
                    transparent,
                    white 20%,
                    white 80%,
                    transparent
                );
            }
            .swiper-wrapper {
                width: 100% !important;
                transition-timing-function: linear !important;
                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    padding: 0 20px;
                }
                svg {
                    width: 120px;
                    fill: rgba(255, 255, 255, 0.63);
                    transition: all 0.2s ease-in-out;
                    transform: scale(1);
                }
            }
        }
    }

    .about {
        background-color: var(--color-bg-dark);
        padding-inline: var(--space-sm);

        .word {
            position: relative;
        }
        .line-mask {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #0d0d0d;
            opacity: 0.8;
            height: 100%;
            width: 100%;
            z-index: 2;
        }

        &__background {
            border-radius: 3em;
            background-color: var(--color-bg-white);
        }
        &__container {
            padding-block: var(--space-xl);
            flex-flow: column;
            gap: var(--space-xl);
        }

        &__jafar {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            &__title {
                text-transform: uppercase;
                color: var(--color-heading-dark);
            }

            &__content {
                color: var(--color-text-dark);
                .summary {
                    font-size: var(--fs-md);
                    margin-bottom: 20px;
                }
                .btn {
                    margin-top: var(--space-md);
                }
            }
        }

        &__skills {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            &__title {
                color: var(--color-heading-dark);
                text-transform: uppercase;
            }

            .skill__item {
                color: var(--color-text-dark);
                padding: 0.7em;
                border-bottom: 2px solid black;
            }
        }
    }

    .work {
        background-color: var(--color-bg-dark);
        &__container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
            padding-block: var(--space-2xl);
            gap: 2em;
        }

        &__content {
            display: grid;
            gap: 2em;
            &__cta {
                .cta__title {
                    text-align: start;
                    font-size: var(--fs-md);
                    margin-bottom: var(--space-sm);
                }

                .btn {
                    color: var(--color-text-white);
                }
            }
        }
    }

    .cta {
        padding-top: var(--space-2xl);
        &__container {
            max-width: 1280px;
            background-color: var(--color-bg-dark);
        }
        &__content {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: var(--space-sm);
            width: 100%;
            padding-bottom: var(--space-2xl);
        }
        &__title {
            text-align: center;
            &-wrapper {
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                .cta__image {
                    width: clamp(10.625rem, 8.802rem + 7.674vw, 14.75rem);
                    margin: var(--space-sm);
                }
            }
            &--small {
                font-size: var(--fs-xl);
            }

            &--big {
                font-size: var(--fs-2xl);
            }
        }
    }

    @include responsive.respond-to("mobile") {
        .hero {
            &__container {
                padding-top: 0;
            }
            &__image {
                max-width: 620px;
                margin-bottom: -4em;
            }
        }

        .work {
            &__content-col1 {
                order: 2;
            }

            &__data {
                text-align: right;
            }
        }
    }

    @include responsive.respond-to("tablet") {
        .about {
            &__jafar,
            &__skills {
                flex-flow: row;
                justify-content: space-between;
                gap: 2em;
            }

            &__jafar__content,
            &__skills__content {
                width: 65%;
            }

            &__skills__content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 1.3em;
            }
        }

        .work {
            &__container {
                grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
            }
        }
    }

    @include responsive.respond-to("laptop") {
        .about {
            &__skills__content {
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            }
        }

        .work {
            &__container {
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            }
        }

        .cta {
            &__title-wrapper {
                flex-flow: row;
                justify-content: space-between;
            }
        }
    }
</style>
